[2017-11-16 13:02] ssuperczynski opened #9 "[(html)] doesn't work after subscription on Observable"
Given I have:

[code]

[code]

Then result is:

![screen shot 2017-11-16 at 14 00 56](https://user-images.githubusercontent.com/6843074/32892470-9c1de4c2-cad6-11e7-8386-d6f2f31e07c2.png)

In `ngx-editor.component.ts` you need to implement `OnChanges` and then:

[code]

[2017-11-16 14:21] Sibiraj-S commented on #9
I think there is no need for that. That is why I have used this.

https://github.com/Sibiraj-S/ngx-editor/blob/5af69b9fa035692f8c5f9052464b5400725d53e8/src/app/ngx-editor/ngx-editor.component.ts#L68-L74.

So updating value via `ngOnChanges` is not necessary. I will patch this soon.

[2017-11-23 11:03] #9 closed

[2017-11-23 14:30] Sibiraj-S commented on #9
@ssuperczynski . Have you checked now? It is being fixed.

[2017-11-24 07:30] ssuperczynski commented on #9
@Sibiraj-S It works. Thank you so much 🚀

[2017-11-26 18:27] alex88 opened #19 "Unexpected value 'NgxEditorModule' imported by the module 'AppModule'. Please add a @NgModule annotation"
After adding this into my module file

[code]
I get the above error:

[code]

is there anything I'm missing?

[2017-11-26 18:30] alex88 commented on #19
Nvm found it, I've solved it with https://github.com/angular/angular/issues/14898#issuecomment-290359551

[2017-11-26 18:30] #19 closed

[2017-11-27 19:13] ssuperczynski opened #20 "Editor's dependencies need to be moved to peerDependencies"
Hey, I found new issue.
I've created Stackblitz demo to show current behaviour https://stackblitz.com/edit/app-ngx-editor?file=app%2Fapp.component.html
It actually can't render editor because parent component has it's own node_modules and ngx-editor installed own node_modules. As a result - is unable to render component correctly.

Dependencies need to be moved to devDependencies, or peerDependenc

[2017-11-27 20:55] Sibiraj-S commented on #20
Oops. I guess I missed that out. I crafted this app using angular cli and exported directly. I Will fix this as first thing in the morning.

[2017-11-28 07:56] #20 closed

[2017-11-28 08:03] Sibiraj-S commented on #20
@ssuperczynski . It is fixed now. :)

[2017-11-28 08:07] ssuperczynski commented on #20
Thanks @Sibiraj-S I can confirm app starts now, but... stopped to show content in the WYSIWYG ;)
DEMO https://app-ngx-editor.stackblitz.io/
CODE https://stackblitz.com/edit/app-ngx-editor?file=app%2Fapp.component.ts

[2017-11-28 08:18] Sibiraj-S commented on #20
But I verified. It worked. let me check again

[2017-11-28 08:20] Sibiraj-S commented on #20
You should import  `FormsModule` for `ngModel` to work.

Here is the working stackblitz: https://stackblitz.com/edit/app-ngx-editor-huycdx?file=app/app.module.ts

[2017-11-28 08:26] Sibiraj-S commented on #20
`html` is now changed to `ngModel` in release 3.1.0

[2017-11-28 08:33] ssuperczynski commented on #20
<3 You are awesome

[2017-11-28 08:34] Sibiraj-S commented on #20
:smile:  Thanks

[2017-11-29 06:55] manimurugank opened #23 "Not working in IE 11"
Not working in IE 11

[2017-11-29 08:15] Sibiraj-S commented on #23
I don't have windows PC now. Any error in particular?

[2017-11-29 08:46] manimurugank commented on #23
include function is not working

On Wed, Nov 29, 2017 at 1:45 PM, Sibiraj <notifications@github.com> wrote:

--
<http://www.constient.com/> Thanks and Regards
*Manimurugan K *| Senior Systems Engineer
Mobile : 9698854231
Office : 4th Floor No:45, Santhome High Road, Santhome, Chennai - 600004

[2017-11-30 07:05] Sibiraj-S commented on #23
Have you updated your polyfills

Try importing

[code]
in your polyfills

[2017-11-30 08:59] Sibiraj-S commented on #23
@manimurugank . You will have certain imports commented out in `polyfills.ts`. Uncomment the required ones for the editor to work properly in your app.

I have tested that in IE10 and IE11 works well.

[2017-11-30 22:31] RicardoVaranda opened #24 "Option to remove the font-awesome dependency"
Would be nice to be able to disable this if for example you wanted to use material instead.

[2017-12-01 01:14] Sibiraj-S commented on #24
Are you saying about a custom toolbar?

[2017-12-01 11:08] manimurugank commented on #23
how can i use in reactive form in angular 4 ?

[2017-12-01 11:09] manimurugank commented on #23
<form [formGroup]="heroForm" novalidate>
  <div class="form-group">
    <label class="center-block">Name:
      <input class="form-control" formControlName="name">
    </label>
  </div>
</form>

How can i use this reactive form [{model}] is not working in reactive form "formControlName" is throw error

[2017-12-06 08:53] m-o-t-u opened #26 "[feature]: view/edit plain html code"
Hello

I really like your editor and i'd like to make a suggestion for a new feature:

It sometimes would be very useful when you can switch to a "plain-html-code-view" where you can edit directly the html code (e.g. add a target="_blank" in a a-tag or something like that).

Can you imagine to add this feature?

Cheers
Martin

[2017-12-06 10:17] Sibiraj-S commented on #26
Actually, I already have all this feature in mind. I was little tied up. So I was unable to complete that. What I actually planned is to give a select box to toggle `_blank` option while entering the URL.

The other one. Edit HTML was a nice one. but Instead of editing HTML's. It would be nice to give an option to Insert HTML(not edit) because sometimes the user might break the code while editing.

[2017-12-18 09:16] Sibiraj-S commented on #23
@manimurugank .

Please use this with some evergreen browsers. Angular support to internet explorer is only to certain extent. Few advanced angular features seem not to work with IE.

Also, I have been using it with reactive forms and it is working without any errors.

[2017-12-18 10:02] manimurugank commented on #23
please send any sample codes to me

On Mon, Dec 18, 2017 at 2:46 PM, Sibiraj <notifications@github.com> wrote:

--
<http://www.constient.com/> Thanks and Regards
*Manimurugan K *| Senior Systems Engineer
Mobile : 9698854231
Office : 4th Floor No:45, Santhome High Road, Santhome, Chennai - 600004

[2017-12-18 10:12] Sibiraj-S commented on #23
sample code for what?

[2017-12-18 10:16] Sibiraj-S commented on #23
For reactive forms, you could follow this [tutorial](
https://www.youtube.com/watch?v=bo1Wu0aiigU&feature=youtu.be)

[2017-12-21 06:37] bbeniston opened #30 "editorConfig path"
`[config]="editorConfig"`

What is the path of editorConfig file? I placed editorConfig.json file in the outside src folder and its not taking.

It says:

and the error is pointing to

`<app-ngx-editor [config]="editorConfig" [(ngModel)]="content"></app-ngx-editor>`

[2017-12-21 07:18] Sibiraj-S commented on #30
editorConfig is not a file.

It is a JSON(not JSON file). Add that in yout `.ts` file. Check this for example

https://github.com/Sibiraj-S/ngx-editor/blob/30e1ad2716161fc0753cca3de1ca5606aea42961/src/app/app.component.ts#L18-L25

[2017-12-21 07:38] bbeniston commented on #30
Yes, it works well now.

[2017-12-21 07:38] #30 closed

[2017-12-21 07:40] bbeniston opened #31 "[Feature]: Option to change font size"
Can you please provide feature to change the text size. (This is not a issue, but feature request)

[2017-12-24 14:10] Sibiraj-S commented on #24
@RicardoVaranda. Can You provide more information for clarification?

[2017-12-24 14:14] Sibiraj-S commented on #23
@manimurugank. Was your issue resolved except IE compatibility? Can I close this issue?

[2018-01-02 09:52] roymj88 opened #34 "[feature]: upload image from local system"
Is there an option to upload file via browse instead of uploading through link?

[2018-01-02 10:24] Sibiraj-S commented on #23
closing this Issue as inactive

[2018-01-02 10:26] Sibiraj-S commented on #24
###### INACTIVE
closing the issue

[2018-01-02 10:26] #24 closed

[2018-01-02 12:36] Sibiraj-S commented on #34
Currently not included but I have been working on it.

[2018-01-07 13:11] laxman1129 opened #36 "[Question] Height not set on startup"
Hi

I am setting height like below
`<app-ngx-editor [(ngModel)]="content" [height]="300"></app-ngx-editor>`

On startup the editor size is not changed. If I try to increase the height by dragging then it takes the height specified.

Thanks

[2018-01-07 13:23] Sibiraj-S commented on #36
You should mention the unit (all acceptable units such as px, rem, cm etc). Height property accepts a string

[2018-01-08 05:14] Sibiraj-S commented on #36
@laxman1129 . Did that work?

[2018-01-11 05:16] Sibiraj-S commented on #36
closing as answered.

[2018-01-11 05:16] #36 closed

[2018-01-19 06:43] #26 closed

[2018-01-19 07:16] Sibiraj-S opened #40 "[BUG] codemirror not exported"
codemirror not exported

[2018-01-19 13:26] #40 closed

[2018-01-23 13:00] FolkertCode opened #43 "Toolbar-set shows as a grey dot when there are no buttons configured."
Toolbar-set shows as a grey dot when there are no buttons configured:
![image](https://user-images.githubusercontent.com/5489255/35276802-ef76447c-0044-11e8-8b25-e12f2f677aa4.png)

![image](https://user-images.githubusercontent.com/5489255/35276908-4f46c818-0045-11e8-9d39-ae6e80610766.png)

[2018-01-23 13:45] Sibiraj-S commented on #43
That is due to the `border`. I will patch that soon.

[2018-01-24 12:08] FolkertCode commented on #43
Great, thanks in advance!

[2018-01-29 19:00] robbihun commented on #23
Hate to reopen this, but it seems the error in IE11 is some event is not firing in Ngx-Editor which is causing the model to not update.

e.g. we have the following

`<app-ngx-editor [config]="editorConfig" [(ngModel)]="note.text"></app-ngx-editor>`

but note.text is never updated with any value in IE, it works in chrome. We do have the latest polyfill for array from es7 in our polyfills.ts file an

[2018-01-30 04:27] Ishusubash commented on #23
Since IE is too old. Some Angular Stuff isn't working properly. That's why.

Use it in any evergreen browsers. @robbihun

[2018-01-30 04:28] Sibiraj-S commented on #23
Since IE is too old. Some Angular Stuff isn't working properly. That's why.

Use it in any evergreen browsers. @robbihun

[2018-01-30 10:45] Sibiraj-S commented on #23
@robbihun . I guess I found the Problem. It wont work for IE<10.  The rest I will fix soon. I recommend to use the `RC` version.

[2018-01-30 13:20] pkprasad25 opened #44 "Using Multiple editor on same page Placeholder text issue"
When using multiple editors on same page, setting placeholder text for last editor update same text for other editor also

[2018-01-30 13:32] Sibiraj-S commented on #44
@pkprasad25 That is not possible. Each editor is an individual component. and one cannot inherit the property of other. Can you post a demo in [stackblitz](https://stackblitz.com/) with the issue?

[2018-01-30 13:41] pkprasad25 commented on #44
Hi Sibiraj Thanks for your quick response
please find the sample code here https://stackblitz.com/edit/angular-8jqvla?file=app%2Fapp.component.html

[2018-01-30 14:13] Sibiraj-S commented on #44
Found the bug. I will patch by tomorrow.

[2018-01-30 15:34] robbihun commented on #23
Thanks @Sibiraj-S Just for clarification, are you saying you will fix this in IE11 but not anything older than IE11? or are you saying that anything less than IE Edge wont be supported?

[2018-01-30 15:44] Sibiraj-S commented on #23
Actually angular support is for ie 10,11 only not for Lower than that. IE doesn't fire input events which is currently used. So I can't even be sure rite now. It may also Even lead to rewrite the entire method i followed till now.

From: Rob Bihun <notifications@github.com>
Sent: Tuesday, January 30, 2018 3:35:51 PM
To: Sibiraj-S/ngx-editor
Cc: Sibiraj; Mention
Subject: Re: [Sibiraj-S/ngx-editor]

[2018-01-31 03:55] julpane opened #45 "Cannot bind existing content to the editor"
Hi, i have implemented release version      "ngx-editor": "3.3.0-rc.2" and  "codemirror": "5.33.0" with successfully code mirror plugin.

But, if i want edit my content, the editor cannot binding with the existing content from ngModel.

thanks for your helps.

[2018-01-31 07:10] kakRostropovich commented on #45
I have the same problem

[2018-01-31 07:27] Sibiraj-S commented on #45
Is your problem replicated here too https://ngx-editor.stackblitz.io/
Edit here: https://stackblitz.com/edit/ngx-editor

[2018-01-31 08:27] julpane commented on #45
![image](https://user-images.githubusercontent.com/26126973/35612376-2eac0de6-069b-11e8-947e-6777d47be7bd.png)

I have initial htmlContent but editor still blank.

[2018-02-01 15:00] Maden-maxi opened #46 "Code editor mode is not visible"
By default all buttons are visible but in my case code editor mode not visible only.
`
<app-ngx-editor  [formControlName]="'description"></app-ngx-editor>
`
![image](https://user-images.githubusercontent.com/17612707/35684923-f9b06ba6-0770-11e8-9dc3-fbd70828a7bd.png)

![image](https://user-images.githubusercontent.com/17612707/35685352-259ac666-0772-11e8-8d1b-2decd2b6e94d.png)

Why code editor but

[2018-02-01 15:11] Sibiraj-S commented on #46
code editors are available in v>3.3.0-rc.2. What is the version you are using?

[2018-02-02 08:40] pkprasad25 commented on #44
Hi Sibiraj,
Is it resolved ?

[2018-02-02 08:41] Sibiraj-S commented on #44
Kind of busy. Sorry.

[2018-02-05 10:18] #43 closed

[2018-02-05 10:18] #44 closed

[2018-02-05 10:18] #45 closed

[2018-02-07 13:57] VladislavKostyukevich opened #49 "Link in editor is not clickable"
Link in editor is not clickable...

[2018-02-07 13:58] Sibiraj-S commented on #49
Can you explain. I can't picture the scenario.

[2018-02-07 17:26] stephanos199 opened #50 "Build error when compiling as part of a package with ng-packagr"
[code]

To reproduce create a project, use the component and then try to compile using ng packagr

[2018-02-07 17:30] Sibiraj-S commented on #50
I have been using it in my project. I have no errors. Have you installed `codemirror` which is a `peerDependency`. Which version are you using.

[2018-02-07 19:12] stephanos199 commented on #50
I'm using version 3.3.0-rc.3 of the editor and have codemirror version 5.34.0 as a peer dependency.

[2018-02-08 02:31] Sibiraj-S commented on #50
That's odd. I was using that version in out product. Which is in production actually.

You can see a working example here: https://ngx-editor.stackblitz.io/
Code for the example: https://stackblitz.com/edit/ngx-editor

Post More Information such as
1. Angular version
2. Operation System
3. Nodejs version

If nothing helps.

[2018-02-08 06:17] pkprasad25 commented on #44
After updating the version Im getting the following issue

ERROR in ./node_modules/ngx-editor/esm5/ngx-editor.js
Module not found: Error: Can't resolve 'codemirror' in '/home/prasad/project/elt-www/code/elt-client/node_modules/ngx-editor/esm5'
resolve 'codemirror' in '/home/prasad/project/elt-www/code/elt-client/node_modules/ngx-editor/esm5'
  Parsed request is a module
  using description file: /

[2018-02-08 06:19] Sibiraj-S commented on #44
have you installed code-mirror?

[2018-02-08 11:22] Sibiraj-S commented on #46
@Maden-maxi. Issue will be closed in two days in-case of no response. You can reopen at anytime you want.

😸

[2018-02-12 06:15] #46 closed

[2018-02-12 06:17] Sibiraj-S commented on #50
@stephanos199 . Did that help?

[2018-02-12 16:21] stephanos199 commented on #50
I only had to add

[code]

I was missing the `"externals"` declaration

[2018-02-12 16:26] Sibiraj-S commented on #50
So Is it working now?

[2018-02-12 19:18] stephanos199 commented on #50
Yes

[2018-02-13 02:42] Sibiraj-S commented on #50
Closing as PROBLEM RESOLVED

[2018-02-13 02:42] #50 closed

[2018-02-13 15:13] Sibiraj-S commented on #49
Links are clickable only in preview mode. Closing now.

[2018-02-13 15:13] #49 closed

[2018-02-13 15:15] Sibiraj-S commented on #23
Since IE doesn't support input events. which is currently is used. I am going to drop support for IE. But Sooner or later it may be implemented.

✌️

[2018-02-13 15:15] #23 closed

[2018-02-19 10:11] #34 closed

[2018-02-20 12:35] ericel opened #53 "Cannot find module 'ngx-bootstrap'."
`ERROR in node_modules/ngx-editor/app/ngx-editor/ngx-editor-toolbar/ngx-editor-toolbar.component.d.ts(3,31): error TS2307: Cannot find module 'ngx-bootstrap'.`

[2018-02-20 12:36] Sibiraj-S commented on #53
Have You installed ngx-bootstrap as peerDependency? I am working on it. Comment back if that works.

[2018-02-20 12:37] ericel commented on #53
Yeah , I would not. But wouldn't it be nice if someone didn't to be forced to use ng-bootstrap?

[2018-02-20 12:39] ericel commented on #53
[code]

[2018-02-20 12:40] Sibiraj-S commented on #53
Okay. Thanks. I guess I found the bug.

[2018-02-20 13:05] Sibiraj-S commented on #53
you don't have to include anything. Just Install the dependency. Try that.

[2018-02-20 13:54] #53 closed

[2018-02-20 16:31] mjuri opened #56 "Found version 4, expected 3"
Hi, I'm getting this issue:
ERROR in node_modules/ngx-editor/app/ngx-editor/ngx-editor-toolbar/ngx-editor-toolbar.component.d.ts (3,31): Cannot find module 'ngx-bootstrap'.
ERROR in Error: Metadata version mismatch for module /node_modules/ngx-editor/ngx-editor.d.ts, found version 4, expected 3

Maybe It's something easy to fix but i'm newbie using this tool. Any ideas?

[2018-02-20 16:32] Sibiraj-S commented on #56
@mjuri. What version (both angular and ngx-editor) are you using and have u installed `ngx-bootstrap`.

[2018-02-20 16:51] mjuri commented on #56
Hi! I'm using angular 1.4.10 and latest version of ngx-editor

[2018-02-20 17:50] iget-master opened #58 "[Feature]: Possibility to use another icons font"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [x] Feature request
- [ ] Documentation issue or request

## Description

My proposal is to add the possibility to use another icon set, for example [material icons](https://material.io/icons/).

My motivation is: I want to implement ngx-editor on a [Material Angular](https:/

[2018-02-20 18:04] Sibiraj-S commented on #56
angular 1.4?

This Editor is for Angular 2.x, Works well with 4.x

[2018-02-20 18:09] iget-master opened #59 "[Enhancement]: Remove ngx-bootstrap dependency"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [x] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

Not really a feature, but an improvement: This package have a peerDependency of `ngx-bootstrap` when it actually uses only the popover module.

The problem is that this force we to loa

[2018-02-20 19:53] iget-master commented on #59
Nice! Again, I'm willing to help on this project, I really like this kind of projects since there's no alternatives of WYSIWYG for Angular 2+ that are 100% angular native. I hate wrappers for things that wasn't made for Angular 2+ :+1:

[2018-02-20 20:03] Sibiraj-S commented on #59
Sure. Contributions are always welcomed. @iget-master

[2018-02-20 20:06] Sibiraj-S commented on #58
Nice one. So Material Projects can use that too. Without FA

[2018-02-20 20:07] Sibiraj-S commented on #56
@mjuri . Close the issue if you are using angular 1.x

[2018-02-20 22:02] mjuri commented on #56
sorry, my apologies, I gave you my angular cli version before. I'm using 4.2.4

[2018-02-21 03:28] Sibiraj-S commented on #56
Try upgrading your angular version. The Editor works well with angular 5.2.0 which is a `peerDeendency`

[2018-02-21 11:14] Sibiraj-S commented on #58
Material misses few icons I guess or Did I miss the following
* Ordered List
* Paragraph
* Eraser
* Horizontal line
* Quote
* Unlink

So, this won't be a viable option.

#### Proposal

Since all components are capable of working individually. Alternatively, What I can do is I can expose the API's for toolbar and Message component. You can disable the default toolbar and design your own and then yo

[2018-02-21 11:17] Sibiraj-S commented on #59
I am not removing `ngx-bootstrap` since it wont affect any styles. I am removing `bootstrap`. Instead Providing some inline styles within the scope of the editor.

[2018-02-21 11:41] Sibiraj-S commented on #59
closed in 8aa0ffd

[2018-02-21 11:41] #59 closed

[2018-02-22 01:31] jfg69 opened #61 "[Bug]: Link is inserted twice - v3.3.0-rc.7"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description
Since the last version you add a new feature in the link feature.
But the link is add 2 times in the html code.
Also, the text is format in another font style than the one in the docume

[2018-02-22 05:58] #61 closed

[2018-02-22 09:47] Fabrotich opened #63 "[Feature]: Option to include Save button in toolbar"
# I'm submitting

- [ ] Bug report
- [x] Feature request
- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Documentation issue or request

## Description

Can we have a save button on the editor by default or is there a way to add custom buttons?

### Version Information

[code]

[2018-02-22 09:48] Sibiraj-S commented on #63
save what? and Can you explain the motivation of this feature?

[2018-02-22 09:52] Fabrotich commented on #63
To save content written into the editor. I'd like the save button to be on the toolbar. The motivation for this is for user initiated saving. Or are there ways for me to trigger saving without having to put a save button below the editor?

[2018-02-22 09:55] Sibiraj-S commented on #63
Right Now. There is no such option to add custom button to the toolbar. Instead. There is a proposal I made to another feature. I think that may be useful in your case

Discussion here #58

[2018-02-22 09:58] Fabrotich commented on #63
Yeah that would be great.

[2018-02-22 10:01] Sibiraj-S commented on #63
So closing this issue now. Follow the above thread for details

[2018-02-22 10:01] #63 closed

[2018-02-22 12:38] ericel opened #64 "codemirror won't play well with universal"
@Sibiraj-S  codemirror doesn't  play well with universal. It should be one of those dependencies u choose whether to use or not!

Wouldn't that be nice?

[2018-02-22 12:58] Sibiraj-S commented on #64
Follow the issue template. That`s why it is there for.

Currently I have no idea to replace codemirror and I don`t have enough time to work on that. I will be keeping this in backlog.

😄

[2018-02-22 12:58] #64 closed

[2018-02-22 14:16] iget-master commented on #58
- Ordered list `<i class="material-icons">format_list_numbered</i>`
- Paragraph ~didn't found~
- Eraser ~didn't found~
- Horizontal line ~didn't found~
- Quote `<i class="material-icons">format_quote</i>`
- Unlink ~didn't found~

Yeah, unfortunately the font misses many icons.

I think that exposing API for toolbar might solve the issue, but is a "reinvent the wheel" job...

Maybe we can solve it

[2018-02-22 14:23] Sibiraj-S commented on #58
I won` t be I guess. It is already there. I just have to export the component (I guess). Let me try that.

Also, I won't be able to work on this for long. I mat not be able to find time, since we are planning of a new project.

[2018-02-22 14:24] iget-master commented on #58
Alright, thanks!

[2018-02-22 20:43] b3app opened #65 "[Feature]: Option to set font color"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [x] Feature request**
- [ ] Documentation issue or request

## Description

Hi!

It's possible to add a font color and font size features?
Thank you!

[2018-02-23 04:59] Sibiraj-S commented on #65
Hi @b3app. Track the font size feature here #31

[2018-02-23 05:49] Sibiraj-S commented on #58
@iget-master . What about using SVG's https://www.flaticon.com/packs/font-awesome

[2018-02-23 09:50] Sibiraj-S commented on #56
@mjuri . Did that work

[2018-02-23 09:53] mjuri commented on #56
Yes, it was that. Thank so so much for your help I really appreciate it

[2018-02-23 09:53] #56 closed

[2018-02-23 09:53] Sibiraj-S commented on #56
😄

[2018-02-23 18:40] b3app commented on #65
I am so grateful, @Sibiraj-S !
I'm waiting for update.

[2018-02-23 18:43] Ishusubash commented on #65
@b3app . It's already on. Follow the PR #66 . I am working on setting font size. That's why the delay.

[2018-02-23 18:43] Sibiraj-S commented on #65
@b3app . It's already on. Follow the PR #66 . I am working on setting font size. That's why the delay.

[2018-02-26 12:12] #31 closed

[2018-02-26 12:12] #65 closed

[2018-02-26 12:41] Sibiraj-S commented on #65
@b3app. There you go. Update to the latest version for the changes

[2018-02-26 15:37] benjamin-wilson opened #67 "[Feature]: Option to insert Tables"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [X] Feature request
- [ ] Documentation issue or request

## Description

Allow creation of tables. When sanitizing output of the editor, formatting becomes limited and the addition of tables would greatly increase formatting available to our users.

[2018-02-26 20:31] b3app commented on #65
@Sibiraj-S You saved me. Thank you!

[2018-02-27 00:57] wbyoko opened #68 "::ng-deep overwrites global bootstrap styles"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

I'm using the ngx-editor on demand. When using the latest version it caused thrashing with current bootstrap styles. The issue seems to be the use of '::ng-deep' and it's ability to ov

[2018-02-27 09:44] chami007 opened #70 "[Feature]: Support HTML header tags"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [x] Feature request
- [ ] Documentation issue or request

## Description

 Could we add H1, H2, H3 headers as well please ?

[2018-02-27 09:45] Sibiraj-S commented on #70
Yeah, Why not. Its already on my task list.

[2018-02-27 12:04] morscad opened #71 "Can't bind to 'config' since it isn't a known property of 'app-ngx-editor'"
I followed the example on the main package page.
1- I added `"ngx-editor": "^3.3.0-rc.9",` to package.json (along with `ngx-bootstrap` and `codemirror`) and then did an npm install

2- in app.module I did `import { NgxEditorModule } from "ngx-editor";` and added NgxEditorModule to `@NgModule({ imports: [NgxEditorModule]})`

3- in one of my component's template I added
`<app-ngx-editor [spellcheck]

[2018-02-27 12:06] Sibiraj-S commented on #71
Edit the question, follow ISSUE TEMPLATE. Else issue will be closed after 2 days from opening.

[2018-02-27 12:26] Sibiraj-S commented on #71
can you provide a simple example like a github repo. where I can replicate the error @morscad

[2018-02-27 14:51] morscad commented on #71
Thanks for the quick response.. it's quite a big and complex app with a lot of code that works with our back end system that I cannot share, if this is the only way you can tell what the problem is, I can build a stripped down version of it.

but in essence, the structure is:
1- Main.ts: bootstraps the module `AppModule`
2- AppModule.ts
- imports NgxEditorModule and AppRoutesModule.ts
- Bootstraps

[2018-02-27 15:04] eduardbraun commented on #71
I am getting the same issue

[2018-02-27 15:10] Sibiraj-S commented on #71
@morscad .to reproduce an error You don't have to do that much. Just craft a simple application with `angular-cli` and do what you have done there. That's more than enough.

What ever you tell, I cannot reproduce your exact error you get, as developer there is a change where I might unkownigly implement it correctly (Human mind 😅 )

But I'll try

[2018-02-27 15:11] Sibiraj-S commented on #71
@morscad , @eduardbraun . From what versions are you getting this error. Is it a regression or a bug since begining

[2018-02-27 15:16] morscad commented on #71
I am working on a stripped down version of my app for you, will be ready in a bit
I am using version `"ngx-editor": "^3.3.0-rc.9",` in my code, and this is the first time I ever used this component so it is not an update

will upload the new files soon

[2018-02-27 15:17] Sibiraj-S commented on #71
okay. Just share a gihub repo @morscad

[2018-02-27 15:27] eduardbraun commented on #71
if fixed the issue. I had to update my npm packes with npm update --save, then I installed missing dependencies @angular/common and codemirror. That fixed my problem

[2018-02-27 15:28] Sibiraj-S commented on #71
Yeah @eduardbraun has a point. delete `lock` file and `npm install`.

Try again.

[2018-02-27 16:13] guilhermevbarbosa opened #72 "[Feature]: Font family and YouTube embed"
# I'm submitting a
- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [x] Feature request
- [ ] Documentation issue or request

## Description
Hi! @Sibiraj-S , it's possible to make a new feature to change font family and include YouTube link or embed to show a video player?
**Thanks!**

[2018-02-27 16:20] morscad commented on #71
nope, sorry.. a fresh npm install and an npm update didn't work for me. I have the required dependencies in my package file
I will finish the minimal app and deploy it on github for you in a few minutes

[2018-02-27 16:21] Sibiraj-S commented on #71
Okay. Lets work it out. If it is a bug and is identified I ll make a release with fix right away.

[2018-02-27 16:32] Sibiraj-S commented on #71
@morscad . I made a simple example. following steps exactly as you said. But it seems to not have any problems. Check the attachment

[ngx-editor.zip](https://github.com/Sibiraj-S/ngx-editor/files/1763773/editor-example.zip).

Have you defined the `_config` object in `TS` file?

[2018-02-27 16:56] morscad commented on #71
here's the minimal app, same result as the full app.. there is some complexity in the way I am copying external dependency files (which is related to our production flow), but the behavior is the same.
just run `npm install` and then `npm run dev` .. it works on http://localhost:3000

if you go to `src/ts/modules/email/_templates/email_component.html` and uncomment the editor directive, the app wi

[2018-02-27 17:14] Sibiraj-S commented on #71
Haha, Simple mistake @morscad .

Import `NgxEditorModule` in `AppRoutesModule.ts`. Everything should work as you expected.

**Simple Rule**: Import a module where the component is imported or use a `sharedModule` and export the modules which you want to use.

Cheers: 🍻

[2018-02-27 17:21] morscad commented on #71
Perfect. works like a charm
Thanks a lot for your help, it is much appreciated

cheers

[2018-02-27 17:22] Sibiraj-S commented on #71
😄

[2018-02-27 17:22] #71 closed

[2018-03-02 15:14] iget-master commented on #58
My only care is about overhead. Loading an entire icon font for using 10~15 icons is overhead.

Even loading 10~15 icons pack is overhead if we already use another icon font, but of course that's better then an entire icon font.

I'll think about some way to solve it...

[2018-03-02 15:17] Sibiraj-S commented on #58
@iget-master. If this package https://github.com/FortAwesome/angular-fontawesome gets ready I have no need for font dependency. I may be able to ship icons that are only needed along with this editor.

It is not yet production ready.

[2018-03-04 19:36] codechavez opened #75 "image uploader not putting image in content"
# I'm submitting a issue that it seems to be related  when using the image functionality.

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [x] Feature request
- [x] Documentation issue or request

## Description

I'm running a into the issue when using the image upload. After a successful called (file was uploaded to my host

[2018-03-05 03:35] Sibiraj-S commented on #75
@codechavez . Any message from the editor.

What was the response after uploading the image?

[2018-03-06 05:34] Sibiraj-S commented on #75
@codechavez. Issue will be closed in 2 days if no response is made.

[2018-03-06 14:48] chrisstaley opened #78 "[Bug]: The editor does not properly clear its displayed value when re-binding an empty string"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [X] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

I have an editor like so:
[code]
The expected behavior is that whenever `noteTemplate.noteHtml` is changed via code, the editor should update its displayed value as well. However, if `

[2018-03-06 15:09] chrisstaley opened #79 "[Feature]: Add ability to use TAB key to move to the editor's text area"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [x] Enhancement
- [X] Feature request
- [ ] Documentation issue or request

## Description

It would be nice to have the ability to use the TAB key to move from another form control to the editor's text area so that users don't have to take their hands off the keyboard to rea

[2018-03-07 15:05] drc-gcoakley opened #80 "[Bug]: Incorrectly matched Button/code"
# I'm submitting a bug

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [X] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

The button labeled 'Paragraph' does not insert an HTML Paragraph tag, which is '&lt;p>'.
Instead it inserts an HTML Line Break tag '&lt;br>'.

### Version Information

https://ngx-

[2018-03-07 17:44] drc-gcoakley opened #81 "[Enhance]: Should produce strictly correct HTML."
# I'm submitting an

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [X] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

Produce strictly valid HTML.  What is produced by this editor does not have proper tags (https://github.com/Sibiraj-S/ngx-editor/issues/80) is uses non-standard tags (&lt;strike> is n

[2018-03-07 17:47] drc-gcoakley opened #82 "[BUG]: Cannot easily turn off superscript and subscript formatting."
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [X] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

Add any text at the end of the document, select it then click the superscript button. Now, there is no way (that I have found) to add normal text after that--it is all added to the sup

[2018-03-07 18:42] drc-gcoakley opened #83 "[Bug]: Undo stops working after clicking 'View code'."
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [x] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

To reproduce:
1) type two words in the editor.
2) Activate Undo
Notice the words disappear.
3) Activate Redo.
Notice the words reappear.
4) Click 'View Code' to show the underlying HTM

[2018-03-08 10:00] MBelkhechine opened #84 "[Bug]: Some editor buttons such as delete redo and undo work on different inputs."
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

Let's assume you have a name input and just beneath it the ngx-editor. If you write text in the name input and then click on delete from the toolbar, the text in the name input is affe

[2018-03-08 10:57] Sibiraj-S commented on #84
@MBelkhechine . Please do check in other browsers too

[2018-03-08 11:00] Sibiraj-S commented on #75
@codechavez. Closing as Inactive.

Feel free to open anytime 🍻

[2018-03-08 11:00] #75 closed

[2018-03-08 11:01] Sibiraj-S commented on #58
closing this now. I will work on backlogs when I get some time.

[2018-03-08 11:01] #58 closed

[2018-03-08 11:03] Sibiraj-S commented on #82
@drc-gcoakley. Have you tried cleat formatting option. That should work.

[2018-03-08 14:09] drc-gcoakley commented on #82
I have only used the online demo. Is there way to enable that option in the demo?

[2018-03-08 14:56] Sibiraj-S commented on #82
yes. it is there already there.

The eraser icon clear's formatting.

Close the issue. If it works

[2018-03-08 15:06] Sibiraj-S commented on #84
@MBelkhechine. Don't mention like this. those details will/may be helpful for references in future.

[2018-03-08 16:53] drc-gcoakley commented on #82
Clicking on the 'Clear Formatting' button does change the next character to be outside of a superscript or subscript.  I don't find this to be an obvious solution but it does work. Thanks.
This seems like it would work in other similar situations.

[2018-03-08 16:53] #82 closed

[2018-03-08 18:59] drc-gcoakley opened #86 "Cascading exponents."
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [X] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

I'd actually consider this a bug but, can see an argument for it being an enhancement.

I would like to be able to enter the following expression.
    1 raised to the power of (2 raise

[2018-03-09 06:25] Sibiraj-S commented on #86
@drc-gcoakley. Thats how it works I guess. The editor makes use of [contenteditable](https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Editable_content) and [document.execCommand](https://developer.mozilla.org/en-US/docs/Web/API/Document/execCommand).

I meant it to be simple with sufficient features. Also the enhancement you asked for is a very rare user scenario. User can always edit the H

[2018-03-09 06:25] #86 closed

[2018-03-09 06:27] Sibiraj-S commented on #84
can you post an example @MBelkhechine  using stackblitz.

[2018-03-09 06:29] Sibiraj-S commented on #80
@drc-gcoakley. The total function will be replaced, since it works differently in different browsers.

Also this function is a trivial one.

[2018-03-11 16:35] Sibiraj-S commented on #78
@chrisstaley. Since WriteValue is called twice I had a return statement which is removed now.

[2018-03-11 16:51] #78 closed

[2018-03-11 16:51] #79 closed

[2018-03-12 12:22] Sibiraj-S commented on #67
@benjamin-wilson I currently don't have time to work on this. I am adding it to backlog and I will work on this later.

[2018-03-12 12:22] #67 closed

[2018-03-12 12:43] Sibiraj-S commented on #84
@MBelkhechine . closing as inactive. Feel free to open again

[2018-03-12 12:43] #84 closed

[2018-03-14 13:26] barkinkizilkaya opened #88 "Image Upload Problem"
ı try to upload image file to asset/image folder ı set imageendpoint but it give me 404 is there any way to upload image file ?

can you give me a sample

[2018-03-14 13:28] Sibiraj-S commented on #88
@barkinkizilkaya. 404 states that endpoint isn't available. Can you create a sample repo/something explaining your issue.

[2018-03-14 13:34] barkinkizilkaya commented on #88
my component config like this

  editorConfig ={
    "editable": true,
    "spellcheck": true,
    "height": "auto",
    "minHeight": "0",
    "width": "auto",
    "minWidth": "0",
    "translate": "yes",
    "enableToolbar": true,
    "showToolbar": true,
    "placeholder": "Enter text here...",
    **"imageEndPoint": "assets\image",**
    "toolbar": [
        ["bold", "italic", "underline", "str

[2018-03-14 13:35] Sibiraj-S commented on #88
You must provide an HTTP endpoint.

[2018-03-14 13:36] barkinkizilkaya commented on #88
how can you sample it. in development evviroment how can ı test  ?

[2018-03-14 13:38] Sibiraj-S commented on #88
try something like `http://localhost:80/asstes/image`.

[2018-03-14 13:44] barkinkizilkaya commented on #88
when o set url like this "imageEndPoint": "http://localhost:4200/assets/image",

the it give error

ERROR HttpErrorResponse {headers: HttpHeaders, status: 404, statusText: "Not Found", url: "http://localhost:4200/assets/image", ok: false, …}

[2018-03-14 13:45] barkinkizilkaya commented on #88
![image](https://user-images.githubusercontent.com/10937356/37405982-20f50d10-27a7-11e8-90c2-33ccf07abe6f.JPG)

[2018-03-14 13:47] Sibiraj-S commented on #88
i don't understand.  you have pointed to a folder. I guess. It should be an valid end-point. which can process your images which is sent as form-data.

The back end should be able to handle the image uploaded.

[2018-03-14 13:49] Sibiraj-S commented on #88
I thought initially `asstes/image` this as an `HTTP_ENDPOINT`.

[2018-03-14 13:52] barkinkizilkaya commented on #88
you mean ngxeditor doesnt enough to upload image ?

I try to upload an image simply using your editor to a folder.

[2018-03-14 13:53] Sibiraj-S commented on #88
You cannot do that. 😕 . Have you ever came across that behavior somewhere

[2018-03-14 13:53] barkinkizilkaya commented on #88
yes ı want upload images to the assets\image folder

[2018-03-14 13:54] Sibiraj-S commented on #88
You cant do that. It should be an valid HTTP endpoint.  See the docs https://sibiraj-s.github.io/ngx-editor/additional-documentation/image-uploader.html

[2018-03-14 13:57] barkinkizilkaya commented on #88
ı check the document how can ı write suitable end point ? can you give a sample it ?

[2018-03-14 13:59] Sibiraj-S commented on #88
Are you a beginner?

[2018-03-14 14:00] barkinkizilkaya commented on #88
in angular yes.

[2018-03-14 14:01] Sibiraj-S commented on #88
leave that to backend guys or google it. you can find a lot of examples.

Thanks for using ngx-editor

[2018-03-14 14:01] #88 closed

[2018-03-14 14:50] #72 closed

[2018-03-14 14:55] Sibiraj-S commented on #81
@drc-gcoakley . sorry for late reply. These will change as the browser gets updated. Also I don't find it that mandatory to use strict HTML 5 tags yet

[2018-03-14 14:55] #81 closed

[2018-03-17 07:17] AnizZen opened #89 "ERROR in Metadata version mismatch - found version 4, expected 3"
What version of ngx-editor should I use for working with Angular 4.0 ? I am getting the error "ERROR in Metadata version mismatch - found version 4, expected 3". Could you please help ?

[2018-03-17 07:35] Sibiraj-S commented on #89
You Should work with version 1.x. The current editor is for Angular version 5+

[2018-03-17 07:36] #89 closed

[2018-03-17 13:36] tiagoapolo opened #90 "[Docs]: Documentation improvement"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [ ] Feature request
- [x] Documentation issue or request

## Description

Documentation improvement

### Version Information

[code]

### Browser

- [x] Chrome - 65.0.3325.162
- [ ]  Mozilla Firefox - x.x.x
- [ ] Opera - x.x.x
- [ ] Microsoft Edge - x.x.x

#

[2018-03-18 05:53] Sibiraj-S commented on #90
@tiagoapolo . Have you seen this https://sibiraj-s.github.io/ngx-editor/additional-documentation/prerequisites.html ?

[2018-03-18 13:20] #90 closed

[2018-03-19 13:56] saralamuralikrishna opened #91 "[Bug]: ngModel is not working in code mode"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

When in go into view cod mode and make changes the Model binding is not working, the value of the htmlcontent is not updated.

### Version Information

[code]

### Browser

- [x] Chrom

[2018-03-19 15:09] Sibiraj-S commented on #91
@saralamuralikrishna . check the demo. Its working https://ngx-editor.stackblitz.io/

[2018-03-20 07:30] saralamuralikrishna commented on #91
I had a look at the demo, my assumptions is when I enter some text in the editor it should show at the bottom of the editor but as I can see nothing is shown if I am in the code editor mode as shown below. If am wrong please let me know.

![image](https://user-images.githubusercontent.com/9860533/37641137-e77e421a-2c18-11e8-874f-c0c7679fccf5.png)

[2018-03-20 07:32] Sibiraj-S commented on #91
@saralamuralikrishna . I will update once you switch from code editor mode to text editor mode. That's how it works.

[2018-03-20 10:52] DenisVuyka opened #92 "[Docs]: Unclear prerequisites - update README"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [ ] Feature request
- [x] Documentation issue or request

## Description

It is not clear from the main readme that this component requires a bunch of extra libs that are very tricky to configure for a typical Angular project:

    CodeMirror - Code Edit/Pre

[2018-03-20 10:55] #91 closed

[2018-03-26 22:13] iamvenkat45 commented on #92
Adding above to the existing issue, do we have any option to create custom toolbar ?
Eg: Word highlight or insert shapes etc..

Thanks in advance..

[2018-03-27 04:26] Sibiraj-S commented on #92
@iamvenkat45 . Nope.

[2018-03-28 09:38] ajmeersha opened #93 "[Feature]: Support Anuglar 4"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [x] Feature request
- [ ] Documentation issue or request

## Description

Support Angular 4

### Browser

- [x] Chrome - x.x.x
- [ ]  Mozilla Firefox - x.x.x
- [ ] Opera - x.x.x
- [ ] Microsoft Edge - x.x.x

[2018-03-28 10:06] Sibiraj-S commented on #93
@ajmeersha . That is a valid request but It is not possible. because, Angular 4 has some strict meta information than Angular 5. So you will get Meta Mismatch error, I recommend you to upgrade to Angular 5.

[2018-03-28 10:12] ajmeersha commented on #93
yaa but u can make this work from version above 4

[2018-03-28 10:13] Sibiraj-S commented on #93
Yes, I already works well with angular 5

[2018-03-28 10:16] ajmeersha commented on #93
https://github.com/manishjanky/ngx-pagination-bootstrap/issues/2 can u checkout this issue

[2018-03-28 10:17] Sibiraj-S commented on #93
Check what?

[2018-03-28 10:19] ajmeersha commented on #93
i raise the same issue for that plugin and he make it work with angular 4 also

[2018-03-28 10:26] Sibiraj-S commented on #93
@ajmeersha. Try v1.2.1

[2018-03-28 10:42] ajmeersha commented on #93
@Sibiraj-S   still cant able to obtain two-way binding, I pass the value to the htmlContent in the constructor but it won't show in the editor?

[2018-03-28 10:43] Sibiraj-S commented on #93
Can you provide a stackblitz of what you have tried

[2018-03-29 12:43] Sibiraj-S commented on #93
@ajmeersha . The library you mentioned has been downgraded to Angular 4. But I clearly mentioned on the top what would be the compatibility of the editor,

[2018-03-29 12:43] #93 closed

[2018-04-01 01:46] isaac2004 opened #94 "[Feature]: Format Source Code"
Do you plan on adding source code formatting?

[2018-04-01 01:47] Sibiraj-S commented on #94
I thought of it, but i can't find enough time to work with it.

[2018-04-03 19:18] Karnich opened #95 "[Enhance]: Remove the ngx-bootstrap dependency"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [x] Enhancement
- [x] Feature request
- [ ] Documentation issue or request

## Description

Ive been looking for the right editor for my application and i decided to set on yours for the moment because by the looks of the readme the only peer dependency is font-awesome.. whic

[2018-04-04 05:10] yharaskrik opened #96 "[BUG] Including NgxEditorModule break AOT in Angular Universal"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

running
yarn add ngx-editor ngx-boostrap codemirror font-awesome
will cause angular to break when using AOT compiling. I am currently using NestJS which is a NodeJS based server that i

[2018-04-04 11:03] abelardolg opened #97 "[BUG] Can't bind to 'placeholder' since it isn't a known property of 'app-ngx-editor'"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

I installed at the first time this editor inside my project but the below message was displayed.
I previously installed CodeMirror, FontAwesome and NGXBootstrap (popover) projects.

![

[2018-04-04 11:07] Sibiraj-S commented on #97
I think you have not imported `ngxEditorModule`.

[2018-04-04 11:16] abelardolg commented on #97
Hi,
Yes, I imported NgxEditorModule as well as PopoverModule from NgX-Bootstrap:

import {NgxEditorModule} from 'ngx-editor';
import { PopoverModule } from 'ngx-bootstrap/popover';

![image](https://user-images.githubusercontent.com/22522883/38304609-53651470-380a-11e8-98f7-125a6d2f957d.png)

[2018-04-04 11:29] abelardolg commented on #97
I am including it in a feature module but I don't think it is a problem.

[2018-04-04 11:30] abelardolg commented on #97
I will check it out and I will return it back. :) :+1:  Thanks for your support and time! Priceless.

[2018-04-04 11:32] #97 closed

[2018-04-04 12:10] Sibiraj-S commented on #97
Check #71. There is a similar issue.

[2018-04-06 04:25] Sibiraj-S commented on #96
@yharaskrik Can you post the error you get and if a minimal reproduction if available could be easier to solve things easier

[2018-04-10 10:22] sanketnaik99 opened #98 "Image Upload from the editor"
Hey, I've been having problems implementing the image upload feature using an ImageEndpoint. Could you show a working demo since the demo on stackblitz.io doesn't seem to work. I'm getting the same error as the demo.

[2018-04-10 10:24] Sibiraj-S commented on #98
HI @sanketnaik99 , The endpoint is not specified in the demo, If you get the same error, you might not have specified it too.  Check https://sibiraj-s.github.io/ngx-editor/additional-documentation/image-uploader.html

[2018-04-10 10:26] sanketnaik99 commented on #98
I've specified the demo as the link to my firebase storage (uses REST API). Still won't work.

[2018-04-10 10:54] Sibiraj-S commented on #98
Can you post the error you get? or a small implementation?

[2018-04-10 11:06] sanketnaik99 commented on #98
The progress bar goes from 0 to 100 and then returns an error saying cannot read property url of 'null'

[2018-04-10 11:06] sanketnaik99 commented on #98
Could you just show how you would do it by using an actual image endpoint?

[2018-04-10 11:08] Sibiraj-S commented on #98
I guess the image is getting uploaded, but the response isn't as expected. The response  should be a json like

[code]

[2018-04-10 11:10] sanketnaik99 commented on #98
Is there any way to solve that? I'm using angularfire2 to connect to my firebase database

[2018-04-10 11:11] Sibiraj-S commented on #98
so, what does it return actually. The editor needs a URL of the image to be inserted.

[2018-04-10 11:15] Sibiraj-S commented on #98
@sanketnaik99 . Considered this not as a BUG./FR, Closing this. But Feel free to comment/continue the discussion.

[2018-04-10 11:15] #98 closed

[2018-04-10 11:34] v2amruta opened #99 "(IE browser specific) Getting HTML editor value as empty on click of submit button"
I am using Reactive forms in angular 4 where i have used this editor component. On chrome browser it is working fine, but on IE browser after entering the value in HTML editor and then click on Submit button getting it's value as empty.

[2018-04-10 11:37] Sibiraj-S commented on #99
@v2amruta This Editor doesn't support IE

[2018-04-10 11:56] #92 closed

[2018-04-10 12:12] v2amruta commented on #99
Thank you for your feedback.

[2018-04-10 13:46] v2amruta opened #101 "Unable to use setSelectionRange on HTML Editor to set cursor pointer at the begining"
I want to set focus with cursor at the begining of HTML Editor on click of button in angular 4.

[2018-04-16 07:56] VladimirHumeniuk opened #102 "[Feat]: Support header tags"
Would be awesome if you add to editor buttons for creating H1 and H2 headers.

[2018-04-17 06:08] Sibiraj-S commented on #102
@VladimirHumeniuk . Track the same in #70 . Also, Follow the issue template while creating any Issues or PR.

[2018-04-17 06:08] #102 closed

[2018-04-17 06:48] mrcomeback commented on #96
@Sibiraj-S hey dude, having same issue , if Angular Universal prerendering is deactivated everything work ok, but if active having this error:
An unhandled exception occurred while processing the request.
NodeInvocationException: Prerendering failed because of error: ReferenceError: navigator is not defined
at C:\WORK\Projects\clientapp\dist\main-server.js:1164:17
at userAgent (C:\WORK\Projects\cl

[2018-04-17 14:15] VladimirHumeniuk opened #103 "[Feature]: Custom image upload function"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [X] Feature request
- [X] Documentation issue or request

## Description

It would be amazing if we could use custom functions to load pictures, and not just send POST requests to the address specified in the configuration. For example, I use Firebase in my

[2018-04-18 11:53] Sibiraj-S commented on #103
@VladimirHumeniuk . Glad to hear that.

What would it be. More information will be easier to get going. Like an example.

[2018-04-18 11:56] Sibiraj-S commented on #101
If I understood correctly you want to focus your cursor on the editor by an external action, when code edit mode is active

[2018-04-18 11:57] Sibiraj-S commented on #101
@v2amruta do follow the issue guidelines that why I have it there. 😕

[2018-04-18 12:15] VladimirHumeniuk commented on #103
@Sibiraj-S To solve the problem of downloading files to Firebase, I had to add an additional button with next to the editor. The function of uploading a file to the Firebase Storage is as follows:
![image](https://user-images.githubusercontent.com/20288162/38931168-f7bbc9cc-431a-11e8-8ad8-4828eda666e3.png)

Its return downloadURL, which I copy and paste into the editor.

[2018-04-18 12:19] Sibiraj-S commented on #103
I can't have multiple methods, but what possible is

1. A custom toolbar as previously said
2. An api can be exposed that inserts image to the editor.

What do you think?

[2018-04-18 12:25] Sibiraj-S commented on #103
Will try to solve these issues ASAP, but I was little tied up to other tasks here. so may take a little time than expected.

🍻

[2018-04-18 12:26] VladimirHumeniuk commented on #103
@Sibiraj-S cool, thanks.

[2018-04-19 10:28] v2amruta commented on #101
@Sibiraj-S  : I didn't get your last comment.

[2018-04-19 11:35] Sibiraj-S commented on #101
I provided a template/format to post an ISSUE but you haven't followed that.

[2018-04-19 20:06] Lukasz199312 opened #105 "[Request] Missing icons"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [x] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description
Hello, I have problem with missing icons. https://ibb.co/kxXH2S. Do you have any suggestion how can i fix it?

### Version Information

[code]

### Browser

- [ x] Chrome -  65.0.3325.1

[2018-04-20 06:02] VladimirHumeniuk commented on #105
@Lukasz199312  you are using Fontawesome 5 version, but in editor is Fontawesome 4. If you want use FA5, add next styles to your project:
[code]

[2018-04-23 09:02] DT007 opened #106 "Need to add disable property"
Disable property is missing

[2018-04-23 09:03] androidovshchik commented on #36
Hi
May it be autimatically computed? 100% avaliable height

[2018-04-24 06:45] denniskuligin commented on #96
Hm and I am using latest Angular CLI + universal, and getting the following weird error:
`ERROR in ./ngx-editor/ngx-editor.ngfactory.js
ERROR in ./src/app/app.module.ngfactory.js
Module not found: Error: Can't resolve 'ngx-editor' in '/src/app'
ERROR in ./src/app/admin/dashboard/d-entry/d-entry-new/d-entry-new.component.ngfactory.js
Module not found: Error: Can't resolve 'ngx-editor' in '/src/app/

[2018-04-24 11:59] #105 closed

[2018-04-24 14:00] Sibiraj-S commented on #106
Post your detailed requirement. Or the issue will be closed.

[2018-04-24 14:19] denniskuligin commented on #96
And @mrcomeback , the problem with "navigator error" - relates to codemirror library

[2018-04-24 15:37] Sibiraj-S commented on #96
Guys, i was little busy I will look at it tomorrow ASAP.

[2018-04-24 15:39] yharaskrik commented on #96
No problem! My apologies for not getting back to you. I don't actually get an error, I'm using nestjs which compiles to a node express app and it fails silently on start, builds fine.

[2018-04-24 17:33] denniskuligin commented on #96
@Sibiraj-S it's failing on default config of angular universal (angular 5+). As I mentioned before the problem with CodeMirror library exclusively.

[2018-04-24 18:38] iget-master opened #108 "Angular 6 support"
Angular 6 is about to have the stable version.

There are some changes that need to be done in order to this package support it.

I'm going to list the changes that I see:

- [ ] Change peer dependencies of `angular` packages to `^6.0.0`
- [ ] Change RxJS dependency to `^6.0.0`

[2018-04-25 07:05] Sibiraj-S commented on #96
Hi everyone.

I never liked to have code-mirror anyway. I wanted to have a simple editor without any peerDependencies.

I want to get rid of ngx-bootstrap, code-mirror and sooner or later font-awesome(I don't want user to cling to a particular icon set) too.

What do you guys think.

[2018-04-25 07:12] mrcomeback commented on #96
@Sibiraj-S , this is good idea.
anyway a lot of people are using ngx-bootstrap and font-awesome , but "code mirror" i read first time in your documentation...
so will be much better without "CodeMirror".

[2018-04-25 08:56] denniskuligin commented on #96
@Sibiraj-S it's a perfect decision, but I disagree about font-awesome.  Font-awesome won't be the real problem anyways, but "Codemirror" library is a real headache!

By the way, if you'll succeed with that - you'll be the only one WYSIWYG editor working with out-of-box angular's universal.

[2018-04-25 09:01] Sibiraj-S commented on #96
I didn't plan to remove support font-awesome, just from peerDependency. I was just thinking of some strategy that would allow users to use any of icon needed which can be font-awesome or material or whatever they want. I guess I will end up something sooner.

[2018-04-25 09:07] denniskuligin commented on #96
@Sibiraj-S listen I really believe, that you shouldn't waste any time to FA now. There are really more important things to do (CM, NGXB).

By the way, mark your tasks as help needed where you want to get some help from the community. I will be happy to help =)

[2018-04-25 09:09] Sibiraj-S commented on #96
@denniskuligin I am not doing it now. It is just an Idea.

Thanks 🍻

[2018-04-25 10:05] #83 closed

[2018-04-25 10:05] #94 closed

[2018-04-25 10:05] #96 closed

[2018-04-25 10:05] #101 closed

[2018-04-25 15:02] v2amruta opened #110 "[BUG]: Maxlength validation on editor is working properly"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

_A bug: I have applied maxlength validation on formcontrol property using angular 4 reactive form validation (i.e by setting formcontrol property value as  'body: ['', Validators.maxLe

[2018-04-25 18:12] Sibiraj-S commented on #110
I think i got it. Length validation happens based in the html but it should be based on text. I will look at it

[2018-04-26 07:14] v2amruta opened #111 "[Feature]: Set Bold option of editor as default option"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [x] Feature request
- [ ] Documentation issue or request

## Description

_A feature: I want to set bold option of editor as default option so that whenever i start entering text into it then it will display in Bold format.

### Version Information
https://n

[2018-04-26 07:16] Sibiraj-S commented on #111
I doesn't even sounds logical. Justify your request to sort it out.

[2018-04-26 07:16] v2amruta commented on #110
Hi Sibiraj-S,

Please look into it asap as it is a urgent requirement of my project and thanks for your reply.

[2018-04-26 10:31] urbanogb opened #112 "[Enhance]: Copy the selected text to the link creation form"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [x] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

It is common to create a link on an existing text. The usual way to do it is to select the text to link and click on the button to create link.
The improvement that I propose is to che

[2018-04-26 16:23] yanshuf0 opened #113 "[Feature] Get caret position."
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [x] Feature request
- [x] Documentation issue or request

## Description
I'd like to get the caret position in the html content. This is in order to add text based on an external event, e.g. a click event appending a string at the cursor position. I am able

[2018-04-26 17:53] Sibiraj-S commented on #113
Hi @yanshuf0 .It is decided and removed the code-editor feature which will not be worked on now. as the code-mirror breaks the build in Angular Universal.

but I can say that this will be worked later.

[2018-04-29 02:37] lucasrueda opened #115 "[Feature]: Resize image in editor like $("img").resizable( )"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [X] Feature request
- [ ] Documentation issue or request

## Description

It will be very helpful if we can resize the images that we include in the content just like this:

https://jqueryui.com/resizable/

The most of the times the user includes an image..

[2018-04-30 18:13] yanshuf0 commented on #113
So I found a solution for those looking to add content to the html on some event at the cursor position. I use a dummy character with nodes to change the html and then search for that dummy character in the html to give me the index at which to add the content to retain the styling and html.

`someEvent() {
const target = document.createTextNode('\u0001');
          document
            .getSelect

[2018-04-30 19:43] jmls commented on #95
ah please, please could you remove this ? I'm just about to ditch using this as I don't use bootstrap, nor do I want to ;)

Are there any instructions for including codemirror in the project ? Or is it just a simple script include in angular-cli ?

[2018-05-01 12:50] jmls commented on #95
ah I see in another pr that you are planning to remove codemirror - that would also be great ;) Any eta for these changes ? I have a project that needs markdown, but needs to be out for acceptance testing very soon ...

[2018-05-02 05:10] Sibiraj-S commented on #113
@yanshuf0 . I guess you found your solution, closing this issue now. The code editor will be worked on as all pending issues and PR's are closed.

🍻

[2018-05-02 05:10] #113 closed

[2018-05-02 05:12] Sibiraj-S commented on #112
I am sorry. I don't exactly understand the enhancement. Can you elaborate?

[2018-05-02 06:46] mmahmad commented on #110
A related question: I can't find any config variable to limit character count. Is validation the recommended way?

[2018-05-02 08:08] urbanogb commented on #112
When we click on the button insert link, the form that is presented is the
same with a selected text that without it. I propose that if there is a
selected text it is copied in the form to create the link.

2018-05-02 7:12 GMT+02:00 Sibiraj <notifications@github.com>:

[2018-05-02 08:12] urbanogb commented on #112
If you want I can try to make the modification, although I am a novice in
angular this would be useful for me to learn.

2018-05-02 7:12 GMT+02:00 Sibiraj <notifications@github.com>:

[2018-05-02 08:39] urbanogb commented on #112
Exactly, that is. In my experience, most users fill everything with a
copy / paste from other sources, word processors such as Word.
When pasting as plain text, it is necessary to reacer styles and
links. That is why it is very useful to do so.

2018-05-02 10:23 GMT+02:00 Sibiraj <notifications@github.com>:

[2018-05-02 08:48] urbanogb commented on #112
In other editors there is a button that allows copying as plain text. We
have solved this using angular, but maybe it is also an improvement to take
into account. We solve it like this:

HTML TEMPLATE
<app-ngx-editor #ngxEditor (paste)="onPaste($event)" [config]="config"
formControlName="texto"></app-ngx-editor>

COMPONENT
import { DOCUMENT } from '@angular/platform-browser';
constructor(@Inject(D

[2018-05-02 08:52] SerhiDi opened #117 "'Code Editor' wrong position"
# 'Code Editor' has incorrect position when I use </> button.

https://gyazo.com/7e754bc4bb21feaaee7af81cb8003fc4

[code]

### Browsers

- Chrome
- Firefox

[2018-05-02 08:56] Sibiraj-S commented on #117
Hi, The code-mirror feature was removed completely. I will make a release soon.

[2018-05-02 09:29] #117 closed

[2018-05-02 09:29] #111 closed

[2018-05-02 20:02] luiz04nl commented on #117
Hi, Is there any old version where this feature is working properly?

[2018-05-02 20:16] Sibiraj-S commented on #117
Never heard of this issue from users. Can't be sure which one had caused that. Also check it not a css problem.

[2018-05-04 14:52] benjamin-wilson commented on #108
Angular 6.0.0 is live today.

[2018-05-04 15:19] idealser opened #122 "[Bug]: Wrong input padding inside of toolbar popups"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

Using angular material and ngx-editor with formControlName inside a form causes wrong input padding of toolbar popups.

![image](https://user-images.githubusercontent.com/28928275/3963

[2018-05-04 16:27] Sibiraj-S commented on #108
Already work started. Track patch-1 branch for updates.

[2018-05-07 08:02] idealser opened #123 "[Feature]: Predefined presets in color editor"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [x] Feature request
- [ ] Documentation issue or request

## Description

It would be cool to have predefined presets in color editor

![image](https://user-images.githubusercontent.com/28928275/39690837-1d7a940e-51e4-11e8-9d8e-817cfc88ef97.png)

### Version

[2018-05-07 18:22] yanshuf0 opened #124 "[Feature]: Immutable placeholders"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [X] Feature request
- [ ] Documentation issue or request

## Description

I would like to be able to have immutable placeholders that the user cannot edit, they can only delete or move them.
### Version Information

[code]

### Browser

- [X] Chrome

<br>

[2018-05-08 18:38] hesampour commented on #117
why code mirror has been removed? really its 3 hours I am searching for this issue and I was really confused. It was a great feature. when this feature comes back?

[2018-05-08 19:11] Sibiraj-S commented on #117
@hesampour . Having CodeMirror causes problem with Angular Universal builds and also it is thought as `Why should a WYSIWYG editor need one?` hence it is removed.

[2018-05-08 19:14] Sibiraj-S commented on #124
Hi @yanshuf0 . Never heard of immutable placeholder concept. By default placeholders is kind of immutable. Once the user starts editing it tends to hide. Users can't edit it by any chance.

Have you found any bug possibly?

[2018-05-09 16:46] yanshuf0 commented on #124
Hey maybe I explained this incorrectly. What I meant are immutable elements like those in kendo ui. https://docs.telerik.com/kendo-ui/controls/editors/editor/immutable-elements

[2018-05-09 17:32] hesampour commented on #117
so you have no plan to bring it back? but its a very important feature for any WYSIWYG editor.

[2018-05-10 21:34] urbanogb commented on #112
**I propose to add these changes in ngx-editor-toolbar.component.ts**

import { Component, Input, Output, EventEmitter, OnInit, ViewChild, **Inject** } from ....
...

**import { DOCUMENT } from  '@ angular/platform-browser';**
...

  constructor(**@Inject(DOCUMENT) private document: any,**
    private _popOverConfig: PopoverConfig,
....

buildUrlForm(): void {
    **const text = (this.document.get

[2018-05-11 05:41] GRabinJude opened #125 "How to increase the toolbar font size and validation not working in firefox browser."
![validation toolbar_issue](https://user-images.githubusercontent.com/28302094/39908542-2dc13c02-550c-11e8-9b6b-2b8d13c86afd.png)

I'm submitting a
    Bug report

Description
1) For validation added  [required]="true" but initially br tag added in firefox browser because br tag prevents validation.
2) How can i increase my toolbar font size issue.

Browser
    Firefox - x.x.x

[2018-05-11 07:18] urbanogb commented on #112
More simplex using Utils.saveSelection():

buildUrlForm(): void {
    const text = (Utils.saveSelection() || '').toString();
    this.urlForm = this._formBuilder.group({
      urlLink: ['', [Validators.required]],
      urlText: [text, [Validators.required]],
      urlNewTab: [true]
    });
    return;
  }

[2018-05-11 07:25] urbanogb commented on #112
Ok. Thanks.

[2018-05-11 07:25] Sibiraj-S commented on #112
🍻

[2018-05-14 16:52] yanshuf0 opened #126 "[Feature]: Grey out textarea when not editable"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [X] Feature request
- [ ] Documentation issue or request

## Description

I would like the textarea to be grayed out when editable is set to false. I'm finding this difficult to accomplish, do you have any suggestions?

### Version Information

[code]

### B

[2018-05-15 06:46] Sibiraj-S commented on #126
Hi, That is a valid point. I will update it. until then you can use the attributes to set css when contenteditable is set to false.

[2018-05-16 10:03] Sibiraj-S commented on #106
Closing as inactive

[2018-05-16 10:03] #106 closed

[2018-05-18 03:05] Spurdha commented on #110
Perhaps, we are also facing similar issue, when user is typing in ngx-editor, user cannot type after reaching 100 chars. However the same field, if I paste the text, it does not stall after 100 chars.

[2018-05-18 13:19] mayurdaga opened #127 "[Feature]: We want the feature of Paste icon in the toolbar."
# I'm submitting a
- [ ] Feature request

## Description

1)  I am submitting a Feature request to include the Paste option in the editor. Since the editor has Cut and Copy option, we would like it to have the Paste option as well.

2) In the current editor for the Font Style and Font Size, first we need to select the text and then specify the font style and font size which we need to apply. Here

[2018-05-19 15:50] kolkov opened #128 "We want style button"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [x] Feature request
- [ ] Documentation issue or request

## Description

Style button with predefined styles. Like this:
![image](https://user-images.githubusercontent.com/3740898/40270398-603443b6-5b95-11e8-9544-62fe8b754077.png)

### Version Information

[2018-05-21 07:04] ssuperczynski commented on #108
Hey @Sibiraj-S, do you need help with update to v6?

[2018-05-21 07:28] mayurdaga commented on #127
We have requirement where we need Cut, Copy, Paste icons. It would be great if you provide this feature.

[2018-05-21 08:19] Sibiraj-S commented on #108
Thanks @ssuperczynski . Just waiting for ng-packager to release its final version. The rest is done.

[2018-05-21 08:21] Sibiraj-S commented on #127
I do understand. but isn't it too simple to use Keyboard shortcuts than toolbar. If you feel still need the options, you have to wait until the custom toolbar arrives.

[2018-05-21 10:11] mayurdaga commented on #127
ok. Thank You.

[2018-05-22 09:16] DT007 opened #129 "Not working in Angular 4"
install ngx-editor 3.3.0 but getting error
ERROR in Error: Metadata version mismatch for module D:/Projects/FlexCPQ/Code/UI/node_modules/ngx-editor/ngx-editor.d.ts, found version 4, expected 3, resolving symbol QuotesModule in D:/Projects/FlexCPQ/Code/UI/src/app/quotes/quotes.module.ts, resolving symbol QuotesModule in D:/Projects/FlexCPQ/Code/UI/src/app/quotes/quotes.module.ts

[2018-05-22 09:17] Sibiraj-S commented on #129
it is not supposed to work. Check the README.

[2018-05-22 09:29] #129 closed

[2018-05-27 23:59] ChrisPanthera commented on #113
Thanks @yanshuf0 I had to edit this slightly to get position on blur as when clicking on the button to do stuff the caret position would move.

    public onTextAreaBlur() {
        // Inserts dummy character to get html position.
        const target = document.createTextNode('\u0001');
        document
            .getSelection()
            .getRangeAt(0)
            .insertNode(target);

[2018-05-30 06:48] headly48 commented on #108
Hey @Sibiraj-S looks like ng-packager has released 3.0.0

[2018-05-30 06:54] Sibiraj-S commented on #108
Thanks @headly48. I will look at it

[2018-06-01 12:29] NiZelooer opened #130 "[Feature]: color picker"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [x] Feature request
- [ ] Documentation issue or request

## Description

I would like to be able to select a color. I'm finding this difficult when I first need to google the color hex code.

### Version Information

[code]

### Browser

- [x] Chrome - x.x.

[2018-06-03 08:20] goodmite opened #131 "Is there a way to get toolbar at the bottom?"
After writing a long content in the editor, the user will have to go to the top everytime they want to use the toolbar. Is there any setting in the config so that I can get the toolbar at the bottom as well.
Thanks.

[2018-06-05 21:54] danielcarlan commented on #70
Hi @Sibiraj-S ! Any news on this? We're also waiting for this 😄

[2018-06-06 08:27] Sibiraj-S commented on #70
Hi, @danielcarlan . I am doing a major re write to ngx-editor and upgrading to Angular 6. I am quite busy recently with someother tasks here and I was unable to spend enough time with it. That will be the next thing I will work on after Upgrade. It will be released along with v4.0

[2018-06-06 13:47] npahalZenways commented on #115
Or if we can enter image size while uploading the image, that would also do.

[2018-06-07 08:10] simepy commented on #122
Hello, this bug affected Firefox too, with link property
I'm in Firefox 60.0.1
![image](https://user-images.githubusercontent.com/12037541/41086603-c85cefe8-6a3a-11e8-8219-af75f6a1622b.png)

[2018-06-07 08:16] Sibiraj-S commented on #122
hi @simepy, @idealser I was working in removing ngx-bootstrap completely and implementing custom styles. Since then I recommend you to manually override the CSS properties that affects the popover.

[2018-06-07 09:58] charan-r commented on #75
Hello,

I'm encountering this issue where i'm getting success response from backend when I checked it in network tab (Chrome dev tools).
[code]
I opened that image path link through browser. I works. But not appended to editor content.

Any help is appreciated, Thanks

[2018-06-07 12:44] Olubunmi-Odeyinka commented on #131
I am really interested in this feature too. Can you look into it. Thank you

[2018-06-07 12:46] Sibiraj-S commented on #131
I understand but I have to wait while other things are done.

[2018-06-07 15:14] V2NileshSukalikar opened #134 "Insert links are not working in IE, It Says unsupported operation performed"
Hi ,

Can you please provided this small support for IE where I unable to insert links inside editor in IE 10 .

[2018-06-08 10:00] simepy commented on #122
Thanks for your answer  @Sibiraj-S, but I don't find in the doc how to override the CSS

[2018-06-08 10:16] idealser commented on #122
@simepy You can do this in your global styles.css
`.ngxePopover form .form-group .form-control-sm {
  padding-left: 0 !important;
  padding-right: 0 !important;
}`

[2018-06-08 10:22] Sibiraj-S commented on #122
Thanks @idealser . Thats what I meant @simepy

[2018-06-08 14:47] simepy opened #135 "[BUG] cursor in Firefox is in wrong place"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

When I click in the ngx-editor my cursor is shift in top

![image](https://user-images.githubusercontent.com/12037541/41158343-e2cd56e4-6b28-11e8-88be-8488aaf6f7ff.png)

### Version In

[2018-06-12 10:18] idealser commented on #26
Is this feature working in 3.3.0 version? Is it possible to edit plain HTML inside editor?

[2018-06-12 11:22] kolkov commented on #26
There is no such function in this editor, but it certainly is in other editors for Angular.

[2018-06-13 13:30] abdullahsari commented on #108
@Sibiraj-S Why does it take so long?

[2018-06-15 10:03] paweltin opened #136 "[BUG] Links are broken after font-size change"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

Links are broken after font-size change. STR:
- insert link,
- select the link,
- change font size.

### Version Information

[code]

### Browser

- [x] Chrome - x.x.x
- [x]  Mozilla F

[2018-06-16 05:59] ponrajpaul commented on #108
@Sibiraj-S We are waiting for this release.

[2018-06-16 12:56] idealser commented on #136
Seems like any kind of formatting brokes after font change

[2018-06-18 11:47] nishantcoolmike opened #137 "[Enhancement & Feature]: Drop down list for font-family & font-size. Option to insert table."
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [x] Enhancement
- [x] Feature request
- [ ] Documentation issue or request

## Description

It would be very helpful if you add drop down list for font-family and font-size.  From where we can choose necessary font family and font size. Option to insert table would be a very

[2018-06-19 08:06] PauleHan commented on #108
I added the package [rxjs-compat](https://www.npmjs.com/package/rxjs-compat) and now everything works without errors.

[code]

[2018-06-19 09:11] JPCdk opened #138 "link popover position."
# I'm submitting a bug/fix

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

When you use a dialog box with ngx-editor inside and you open this dialog box while you have scrolled far down the site and you try to make a link. Then the link popover does n

[2018-06-20 10:05] ssuperczynski commented on #108
If anyone interested, I just published fork of this library to the npm as `ngx-editor2` with angular6 support.
See https://github.com/ssuperczynski/ngx-editor

[2018-06-20 18:21] haifzhan opened #139 "[BUG] Image icon button doesn't work when use ngx-editor in Modal"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

_A bug: Using ngx-editor in my new/edit modal page,  when click the image or video icon buttons, no response, it seems like there's conflicts when 2 modals popup_

### Version Informat

[2018-06-22 16:54] lruiz-invidgroup commented on #34
How works the image uploader, the POST method need something in the return?

[2018-06-25 13:39] kisonay opened #140 "Configurable block tag (div, paragraph)"
I notice that when hitting "return" in the editor that the block level element used is a `<div>` tag. Is there any way to change this configuration to use `<p>` tags?

Long blocks of text are typically broken up by paragraphs and the `<div>` block level items are affecting formatting when being displayed in a non-authoring environment.

[2018-06-25 16:52] cerealexx commented on #103
@Sibiraj-S Is there a way to get a file path from the uploader instead of a buffer? That way it'd be quite easy to build an endpoint with Firebase Functions.

[2018-06-27 09:59] RomainMarecat opened #141 "[BUG] enable and change fontSize in toolbar with custom config"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

fontSize, color, etc ... doesn't work with configuration and toolbar object.
Because Utils function doesn't check deep keys.
I test all possibilities but it doesn't work for this examp

[2018-06-30 06:29] manandkumaar commented on #108
@Sibiraj-S Can you please announce when will you merge this branch with master?.

Please update the status and let us know if help is needed.

[2018-07-02 09:18] phil123456 opened #142 "[BUG/DOC] icons not displaying, no documentation to install font awesome"
[ NEVERMIND THIS EDITOR IS BUGGY AS HELL ]

# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Enhancement
- [ ] Feature request
- [x] Documentation issue or request

## Description

Just installed the editor
but the icons are not appearing (probably because I cant install fontawesome)

I installed this :

`npm install --

[2018-07-02 09:42] pareshgami commented on #135
Trying to override below css that is working for me

.ngx-editor-textarea::before {
    content: normal !important;
}

[2018-07-02 14:00] idealser commented on #108
@ssuperczynski fork is not stable, popup hovers for font, image, link insert, etc. are not working at all.

[2018-07-06 07:06] VinayakMan opened #144 "Icons disappearing for ngx-editor"
HI, I am facing some problem with this control. When i implemented this in my project, some of the icons disappeared. Not sure whats wrong done here.. The functionality is working.. but the icons are not displayed.

Can anyone help please?

![editor](https://user-images.githubusercontent.com/22950676/42364517-06b7c3cc-8119-11e8-9223-bf97bac4250a.png)

[2018-07-06 07:19] kolkov commented on #144
i think maybe you use wrong fontawisome version.

[2018-07-07 21:08] goodmite opened #145 "[Feature] Retrieve text from the editor"
I am aware that HTML can be retrieved using [(ngModel)]="htmlContent", but is it possible to get just the text? Thanks.

[2018-07-09 14:13] arsenk01 opened #146 "[BUG] Angular 6: Link Text is not updating when unchecking "Open in new tab""
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

When trying to Create Link with unchecked "Open in new tab" I'm seeing only URL without text.

![image](https://user-images.githubusercontent.com/3646534/42455580-bc26a6c4-83a3-11e8-81

[2018-07-13 11:22] charan-r opened #147 "Horizontal issue"
Please help me to get horizontal scroll in this editor

[2018-07-24 10:59] arikbidny opened #148 "ngx editor with angular reactive forms"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [x] Feature request
- [ ] Documentation issue or request

## Description
_A feature: Hey, I'm trying to use the editor with angular reactive forms, Is it possible?
I want to add to [app-ngx-editor formContolName="content"]
thanks for your help
### Version In

[2018-07-24 11:18] arikbidny commented on #110
Hey, about reactive form .. how I can use it with formContolName and use it with my validators like:

  ngOnInit() {
    this.wikiForm = this.formBuilder.group({
      title: ['', Validators.required],
      os: ['', Validators.required],
      category: ['', Validators.required],
      content: ['', Validators.required]
    });

[2018-07-24 12:48] alexanto opened #149 "Unit test breaks when importing NgxEditorModule"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x ] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

Unit testing is not possible inside Angular 6 App, when importing the NgxEditorModule into the TestBed
I get an error "Can't resolve all parameters for ComponentLoaderFactory"
### Ver

[2018-07-24 12:58] kolkov commented on #149
This version for Angular 5 only, not for 6+.
Search GitHub for 6+ version or waiting for updated version.

[2018-07-24 12:59] alexanto commented on #149
It works fine with Angular 6 it is only the test that's failing, why is that?

[2018-07-24 14:09] kolkov commented on #149
if this editor works fine for you, then it's good. but this does not happen for all users ...

[2018-07-24 14:13] alexanto commented on #149
why is the testing different?

[2018-07-24 16:16] Yezuz05 commented on #88
Hi, I tried to upload an image with the editor and my backend returns the required json format but I keep getting 'range out of editor 'error

[2018-07-25 08:47] Achutharaman commented on #125
Any solutions you got?

[2018-07-25 10:00] vivex opened #150 "Remove dependency on ngx-bootstrap"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

_A bug: Description of the issue you encountered_
_A feature: Description of the feature. Cause and its Motivation_

### Version Information

[code]

### Browser

- [ ] Chrome - x.x.x

[2018-07-25 11:08] Joniras opened #151 "[Enhancement]: Use angular-fontawesome instead of bulky Fontawesome CSS"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [x] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

It would be super useful if this package would use [angular-fontawesome](https://github.com/FortAwesome/angular-fontawesome) to reduce package size a lot.

This would reduce package si

[2018-07-25 14:31] GRabinJude commented on #125
Not yet...can you give fix for that?

Thanks & Regards,
Rabin Jude G

________________________________
From: S A R <notifications@github.com>
Sent: Wednesday, July 25, 2018 2:17:52 PM
To: Sibiraj-S/ngx-editor
Cc: George Rabin Jude; Author
Subject: Re: [Sibiraj-S/ngx-editor] How to increase the toolbar font size and validation not working in firefox browser. (#125)

Any solutions you got?

—
You ar

[2018-07-25 22:12] Achutharaman commented on #125
Use ngx-editor2 which is a fix for this

[2018-07-25 22:15] Achutharaman commented on #125
.fa {
    font-size: 1.4rem !important;
}

Add this style to change the toolbar size

[2018-07-26 13:38] hackherlin commented on #142
Same Problem....

[2018-07-26 13:45] Sibiraj-S commented on #142
Use font-awesome v4.7. have you read the docs https://sibiraj-s.github.io/ngx-editor/.

[2018-07-26 13:48] Sibiraj-S commented on #151
Hi, Thanks for the suggestion. I was planning to use svg's so that icons will remain consistent everywhere.

[2018-07-26 13:49] Sibiraj-S commented on #150
Duplicate of #95

[2018-07-26 13:49] #150 closed

[2018-07-26 13:51] Sibiraj-S commented on #146
Hi, This editor is made for angular5, also its dependencies depend on angular 5. Angular6 is a work-in-progress. please wait for some time.

[2018-07-26 13:51] #146 closed

[2018-07-26 13:54] Sibiraj-S commented on #144
Hi, I can be 100% sure it won't happen if you use correct icon version. Can you reproduce the issue, maybe a sample repo or a stackblitz

[2018-07-27 05:58] hackherlin commented on #142
I am using Font-Awesome v4.7 and I imported the Stylesheets into the .angular-cli.json file. Still doesn't show any Icons...

[2018-07-27 06:08] Sibiraj-S commented on #142
Okay, In your issue decription you have used font-awesome 5 thats why I mentioned that.

If it is working when added via cdn and not if injected via then it is a project configuring error, not editor's. Closing this now.

If you want any help regarding your issue, feel free to continue this conversation.

[2018-07-27 06:08] #142 closed

[2018-08-01 03:38] jmdmao commented on #148
I'm starting to test, just with reactive forms. Apparently, it works normally.

I just didn't understand the "translate" setting.

[2018-08-01 05:30] arikbidny commented on #148
@jmdmao You just added the formControlName to [app-ngx-editor] and it works ?

[2018-08-01 06:12] Sibiraj-S commented on #148
@jmdmao .sorry for the delayed response. yes that is how it should be. are you facing any problems

The feature is already there, released in verison [v3.1.0](https://github.com/Sibiraj-S/ngx-editor/releases/tag/v3.1.0)

I recommend using the latest version though in angular 5

[2018-08-01 11:30] arikbidny commented on #148
@Sibiraj-S I can use it in normal way with formControlName ?

[2018-08-01 14:37] Sibiraj-S commented on #148
yes. it should work

[2018-08-01 17:18] jmdmao commented on #148
@arikbidny Yes. Just like that.

![image](https://user-images.githubusercontent.com/29717874/43537437-521bbcb4-958d-11e8-9948-99cf833f36d8.png)

![image](https://user-images.githubusercontent.com/29717874/43537458-5be1daa8-958d-11e8-95f0-fa44e5760db1.png)

[2018-08-01 17:20] jmdmao commented on #148
@Sibiraj-S Reactive form worked for me. What I did not understand is the "translate" function, which is in the editor configuration documentation.

[2018-08-01 18:32] Sibiraj-S commented on #148
Hi @jmdmao . I forgot to reply to ur comment.

The `translate` is nothing but an HTML5 attribute. Check out more information here
https://www.w3schools.com/tags/att_global_translate.asp

[2018-08-01 18:35] Sibiraj-S commented on #148
Currently it is experimental and not supported by any browsers out there. I just added it, as may be supported in future and may come handy.

[2018-08-01 18:40] jmdmao commented on #148
Ah ok. Thanks for information! And thanks for the good job. If I may, a suggestion: put in the readme how to use the dependency of fontawsome 4.7. It will save a lot of people time. Do you have plans to upgrade to fontawesome 5, now that they have official version for angular 6?

[2018-08-01 18:48] Sibiraj-S commented on #148
I would love to work on this editor . But I am stuck with work I cannot find time to work on this. Already I started migrating this to Angular6 and it was half way done and I am occupied. It too stuck

I do gave a link to the stackblitz which I thought would be enough, but I can see someone are facing troubles. Soon I will give steps to use fontawesome. where it will include three different method

[2018-08-01 18:53] #148 closed

[2018-08-01 19:01] Sibiraj-S commented on #149
Hi @alexanto , as @kolkov said this is for angular 5, there is no guarantee for it to work with latter or older versions. If it works then it is awesome, but again there is no guarantee.

Angular 6 version will be release by end of this month 🍻

[2018-08-01 19:01] #149 closed

[2018-08-01 19:09] Sibiraj-S commented on #147
Hi, @charan-r . I would highly recommend not to have horizontal scrollbar. It is against the design principles and I would not be adding that any time in future.

Seeing ur question. I would suggest you to go through some basics for UI/UX suggested by experts before u start.
You might have know this but you can look at some articles at https://www.nngroup.com/.

Also, Next time. If there is an iss

[2018-08-01 19:09] #147 closed

[2018-08-01 19:13] Sibiraj-S commented on #144
closing this issue as there is no possible way that can happen. I personally use it aroung 3-4 products and two of them in production. You should check with your project configuration. If there is any problem with the config or anything overrides fontaweome.

Also, try loading via cdn to check.

[2018-08-01 19:13] #144 closed

[2018-08-01 19:14] Sibiraj-S commented on #145
@sangupta007 will be added in next release with angular6

[2018-08-01 19:17] jmdmao commented on #148
I'm using nfx-editor with angle 6, and it's working normally. On the icons, I had to install 4.7 beyond the 5, which I already use in my app. But this is not a problem. Again, thank you for your work. Good luck! (ps: I will not increase the topic anymore)

[2018-08-01 19:27] #141 closed

[2018-08-01 19:34] Sibiraj-S commented on #140
Hi @kisonay . Sorry for the delayed response. I just wanted to make a simple editor for angular. this editor is nothing but a wrapper for HTML5 `contenteditable` and that is how it behaves. I would like it be simple with some extra touch up.

[2018-08-01 19:34] #140 closed

[2018-08-01 19:38] Sibiraj-S commented on #134
Hi, I initially started supporting but maintaining that is a pain. Also the browser is dead and has lot of security issues.

So IE wont be supported. This is meant to run in evergreen browsers.🍻

[2018-08-01 19:38] #134 closed

[2018-08-01 19:40] Sibiraj-S commented on #139
Yeah possibly. Also You found where the bug is. I recommend patching it manually using css for now. The plugin now used is `ngx-bootstrap` will be removed at that time. All this issues will be addressed.

🍻

[2018-08-01 19:40] #139 closed

[2018-08-01 19:43] Sibiraj-S commented on #126
Hi, I am sorry I didn't see ur comment. You can look for `contenteditable` attribute. which will be true or false based on the behaviour.

[2018-08-01 20:00] kassimir opened #152 "[Feature] Needs much more customization and better documentation"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [X] Enhancement
- [X] Feature request
- [ ] Documentation issue or request

## Description

The documentation is awful. Colors just says

What does this even mean? Where do I set the colors? [color] is not a valid input for the component.

Font Size is similar:

[Font] and [F

[2018-08-02 06:08] arikbidny opened #153 "Customize the toolbar fitures"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [x] Feature request
- [ ] Documentation issue or request

## Description

Hey ,
Can i edit the toolbar options only from config file ?
I want to remove the picture upload fiture and some more fitures ..
thanks for help

### Version Information

[code]

### B

[2018-08-02 10:10] dlhagstroem commented on #108
@kolkov Nice! The only thing i miss in your README is how to configure toolbar. Is this possible?

[2018-08-02 10:27] arikbidny commented on #148
@jmdmao @Sibiraj-S thanks you both for replies its very helpful.

[2018-08-02 10:37] Sibiraj-S commented on #108
Sorry everyone for the delayed response. I was too occupied in setting up a product release. I will start working on it once it is completed. You can expect a release by end of this month or by mid of next month. But for now, I can't touch this.

Thanks for understanding.

[2018-10-01 08:04] dsjambekar opened #156 "Unable to upload image in the editor"
# I'm submitting a

- [ ] Documentation issue or request

## Description

I am trying to load an image in the editor. It allows me to select image. And then it shows 100% uploaded but it doesn't really upload the image.
![image](https://user-images.githubusercontent.com/29460586/46276570-c6f0c400-c560-11e8-9413-805d31d6e9d5.png)

I get this following error in the console-
![image](https://user-ima

[2018-10-01 09:29] HufkensJeroen opened #157 "Link button translation href"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [ ] Feature request
- [x] Documentation issue or request

## Description

Hi,

For the linking button, the text is translated for the href between double quote's. Where can i find the functionality for changing this to single quote's?

Thanks in advance,
Kin

[2018-10-01 09:33] sibiraj-s commented on #156
I guess, the problem is with the endpoint. Have you added as mentioned here? [Upload Images](https://sibiraj-s.github.io/ngx-editor/additional-documentation/image-uploader.html)

[2018-10-01 09:36] sibiraj-s commented on #157
Thanks for reporting this. I can get the point that something unusual is happening. but I cant quite understand exactly whats happening can you elaborate?

[2018-10-01 09:38] HufkensJeroen commented on #157
So we are using this part of the code to translate it to a json object, the fact that the href="some url" is used this has conflicts with the json object, by which it cannot be parsed. That is why i try to change this so that we atleast can use this functionality.

[2018-10-01 09:39] dsjambekar commented on #156
I have added it like this -
 <app-ngx-editor id="question" imageEndPoint="/assets"  [placeholder]="'Enter text here...'" [spellcheck]="true" height="200px" ></app-ngx-editor>

[2018-10-01 09:41] sibiraj-s commented on #156
Okay. Are you trying to upload the image to a local directory?

[2018-10-01 09:50] dsjambekar commented on #156
yes, when running in local, it will upload on local.
But I have hosted this app on the firebase, so later I want it to be inside a folder with the same name, on the firebase.

[2018-10-01 10:34] dsjambekar commented on #156
Ok, so the api will receive the image as input and then the api has to save the image to whatever folder I want to save. The api will have to return the image url. Am I right?

[2018-10-01 10:38] sibiraj-s commented on #156
Yes, totally correct.

I should have been more clear in the docs regarding this. as this is the third issue related to the same question. Will update the docs.

[2018-10-01 11:10] dsjambekar commented on #156
ok, thanks for the explanation.

[2018-10-01 13:26] rowellscott opened #158 "HTML Content not formatted in Microsoft Edge"
[BUG]: Richtext not saving HTML formatting in Edge

# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

Richtext is only storing text content and not HTML formatting in Microsoft Edge 41. Works as expected in Chrome and Mozilla.

### Ve

[2018-10-03 09:14] kapilthakkar2912 opened #159 "[BUG]: Resize does not work properly."
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [X] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

bug: When i try to decrease height of editor then it'll set height = minHeight

### Version Information

[code]

### Browser

- [X] Chrome - x.x.x
- [ ]  Mozilla Firefox - x.x.x
- [ ]

[2018-10-03 09:27] kapilthakkar2912 opened #160 "[BUG]: [showToolbar] does not work properly"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description
I want to hide toolbar dynamically (based on some condition ) but its want work for me.
I have written code as following
[code]

### Version Information

[code]

### Browser

- [X] Chro

[2018-10-03 15:35] pretor opened #161 "[BUG] Remove quote not working in Firefox"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

In firefox, remove quote is not working.

### Version Information

[code]

### Browser

- [ ] Chrome - x.x.x
- [x]  Mozilla Firefox - 62.0
- [ ] Opera - x.x.x
- [ ] Microsoft Edge - x.

[2018-10-04 06:38] HufkensJeroen commented on #157
Do you have any update on this?

Kr,
Jeroen

[2018-10-04 06:42] sibiraj-s commented on #160
Hi, it was meant to enable and disable at load, kind of like a one way. may be I can try tweaking them.

[2018-10-04 06:47] rakesh2293 opened #162 "Issue on Toolbar button active"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Enhancement
- [ ] Feature request
- [x] Documentation issue or request

## Description

_A bug: Description of the issue you encountered_
_A feature: Description of the feature. Cause and its Motivation_

### Version Information

[code]

### Browser

- [x] Chrome - x.x.x

[2018-10-04 06:47] sibiraj-s commented on #157
So you want to use single quote instead of double in the editor?

[2018-10-04 06:49] sibiraj-s commented on #162
hi @rakesh2293 , You have not provided any information. do elaborate.

[2018-10-04 06:50] rakesh2293 commented on #162
Please let me know the solution **ASAP**

[2018-10-04 06:52] rakesh2293 commented on #162
@sibiraj-s example: when we click on Bold Letter  **B**  that button is not active by the change of the background color the user got confused  which button I clicked  so please let me know the solution

[2018-10-04 06:53] sibiraj-s commented on #162
You want to highlight the active element?

[2018-10-04 06:54] rakesh2293 commented on #162
I didn't get which element I have to active

[2018-10-04 06:55] rakesh2293 commented on #162
do i change anything on config??

[2018-10-04 06:56] sibiraj-s commented on #162
That feature is not available now.

[2018-10-04 06:58] sibiraj-s commented on #161
Will look into it.

[2018-10-04 06:59] sibiraj-s commented on #159
With min height set you won't be able to decrease the height of the editor. That is what it is intended for.

[2018-10-04 06:59] #156 closed

[2018-10-04 07:01] rakesh2293 commented on #162
if u don't mind shall I send the video???

[2018-10-04 07:02] sibiraj-s commented on #162
Sure, Upload a gif or something in smaller size. 😃

[2018-10-04 07:03] rakesh2293 commented on #162
[2018-10-04_12-27-46.zip](https://github.com/sibiraj-s/ngx-editor/files/2445201/2018-10-04_12-27-46.zip)
I will send the  zip file of the video please check and let me know
Thank you for replying

[2018-10-04 07:06] sibiraj-s commented on #162
I will check, do u find the behaviour here too https://ngx-editor.stackblitz.io/?

[2018-10-04 07:08] rakesh2293 commented on #162
Yes

[2018-10-04 07:08] HufkensJeroen commented on #157
Yes single quote :-)

[2018-10-04 12:01] sibiraj-s commented on #108
Checkout V4

[2018-10-05 08:53] kapilthakkar2912 commented on #159
I know that, but when i start resizing editor or just click and start dragging  it will directly set with minHeight.

[2018-10-10 06:00] HufkensJeroen commented on #157
Do you have any update on this matter?

[2018-10-10 07:46] jerthiry commented on #157
Hi, I'm also encountering this issue on Angular 5. I think the issue is that the href is inserted with `document.execCommand('insertHTML', false, html);` which replaces the single quotes by double quotes when inserting in the editor.

[2018-10-10 07:48] jerthiry commented on #157
Because I tried replacing double quotes with single quotes in the module code when creating the href and it is fine until the `document.execCommand('insertHTML', false, html);` line is executed.

[2018-10-10 11:07] AmitAKB opened #163 "Any possibility to remove some any menu item of editor"
Any configuration is required for remove the menu item of editor
like: Insert Link, Unlink etc

Please give let me know about this?

[2018-10-10 11:20] sibiraj-s commented on #163
Hi, it is available. Seems the document is broken, will update shortly. this is the usage.

# Configuration

The Configuration can be provided using `config` property

## Usage

[code]

### Default Configuration

The config property is a JSON object.

[code]

Add values to toolbar array as required to customize it.

[2018-10-10 15:20] AmitAKB commented on #163
Thank you...!

I need one more clarification, Shall we add drop value in "FONT Family" and "FONT Size"?

[2018-10-10 19:02] sibiraj-s commented on #110
Sorry for the delay, You can't use the existing max-length validators on editor. As the model represents the HTML content. all html entities will be taken into account while length is calculated. So I have added a custom validator for validation. Will release in v4.1

[2018-10-10 19:04] sibiraj-s commented on #163
I don't understand. Can u clarify?

[2018-10-10 19:06] sibiraj-s commented on #157
Hi, Sorry for the delay. I am fixing issues in FCFS basis. Will work on this soon, I think I may need some help on this. Meanwhile, if fixable send a PR to `development` branch 😄.

[2018-10-10 19:10] sibiraj-s commented on #124
Hi,Sorry for the delayed response. I don't think this possible. if you have any ideas. Send a PR 😄 . if you sort it out befor #164 gets merged. Send PR to `development` brach will release it in v4.1

[2018-10-10 19:10] #124 closed

[2018-10-11 17:46] #163 closed

[2018-10-11 17:46] sibiraj-s commented on #163
Feel free to continue this conversation.

[2018-10-11 17:48] sibiraj-s commented on #158
Hi, this just wraps api's around HTML5 content-editable feature.  I don't have control over them. Sorry, I don't think I can fix this.

[2018-10-11 17:49] sibiraj-s commented on #122
Sorry for the delayed response. do you still face this issue.

[2018-10-11 18:01] AmitAKB commented on #163
Font Family like Time New Roman, Arial, etc.
Font size like 12, 14, 16, 18 etc

[2018-10-11 18:39] Methodician opened #165 "stackblitz demo down"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Enhancement
- [ ] Feature request
- [x] Documentation issue or request

## Description

The Stackblitz demo linked in Github is not working. Console errors revolve around ComponentLoaderFactory

### Browser

- [x] Chrome -  69.0.3497.100

[2018-10-12 07:13] sibiraj-s commented on #165
Yeah. I did that. Something went wrong while upgrading to angular 6. I wasn't able to exactly pin point the problem will fix that sooner.

[2018-10-12 07:18] #110 closed

[2018-10-12 09:02] sibiraj-s commented on #165
Seems problem with `ngx-bootstrap`.

[2018-10-12 14:15] samalexander commented on #95
@sibiraj-s can't we just make ngx-bootstrap a regular dependency? It is only used for the PopoverModule.

[2018-10-12 14:19] sibiraj-s commented on #95
Yeah, I am working on it in #166 I faced some issues So I reverted it back. I will work on it. 😄

[2018-10-15 06:14] riginoommen commented on #165
@sibiraj-s can you share the stable version of ngx-editor for the angular 5 - from the upstream this module looks broken.

@sibiraj-s i think its beter to move your unstable changes to a different repository and work it. now its messing up

[2018-10-15 07:01] MALHARIHALGEKAR opened #168 "Code editor button is not working"
## Code editor button is not working
I have added ["code"] as array in toobar but I am not getting code editor

# I'm submitting a

- [x] Bug report

## Description

In Angular 5 it was working fine the code editor button is showing and I am able to edit html content

In Angular 6 it is not working please check image

![joxi_screenshot_1539586057915](https://user-images.githubusercontent.com/19145

[2018-10-15 07:03] sibiraj-s commented on #168
Hi, The code-editing feature is dropped. Also That version doesn't support Angular 6. Update to v4+

[2018-10-15 07:37] MALHARIHALGEKAR commented on #168
@sibiraj-s I needed code-editing for my application

[2018-10-15 08:03] MALHARIHALGEKAR commented on #168
code-editor is working in ngx-editor: "^3.3.0-rc.10" version with angular 5 and this is the important feature we already have in production please help me to get work

![joxi_screenshot_1539590446443](https://user-images.githubusercontent.com/19145662/46937427-e9193480-d07e-11e8-9063-ba6e51121c64.png)

[2018-10-15 18:06] sibiraj-s commented on #165
do u mean a stackblitz?

[2018-10-16 00:28] Methodician commented on #165
TBH this lead me to just stick with CKEditor even though I'd rather use a more open-source, less capitalistic tool with better Angular integration. I had to do a custom build of CKEditor and develop my own plugin (soon to be released under @Methodician ) just to use Firebase Cloud Storage.

My front-end specialist and I both liked the simplicity and documentation of this as well as the reduction i

[2018-10-16 00:42] Methodician commented on #165
FWIW here's where we're using CKEditor and approximately the functionality we'd hope to get from ngx-editor: https://github.com/Methodician/CoSourcery/tree/article-edit-ckeditor

And here's where I'm working on a custom build of CKEditor just so I can use it with Firebase Storage, which is a silly requirement that probably comes out of their attempt to commercialize an open source tool by offering

[2018-10-16 06:18] sibiraj-s commented on #165
@Methodician I have no clue why stackblitz is broken. In case of demo. Just temporarily Clone this repo and run `npm start`. You can get a working editor.

[2018-10-17 07:15] MALHARIHALGEKAR opened #169 "How to add custom toolbar button in editor"
I need to add a custom toolbar button in the editor I'm new to it so please help me how I can add

# I'm submitting a
 [x] Feature request

## Description
I have tried of referring doc but I'm not finding any solution for how to add a custom button with the custom icon

[code]

### Browser
All browsers

[2018-10-19 09:01] NicholaAlkhouri opened #170 "Drop-down menu to select the protocol from the link popup"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [x] Feature request
- [ ] Documentation issue or request

## Description

_A feature: Add a drop-down with a list of protocols in the Link popup. the drop-down contains "http, https, ftp, none .etc" and defaulted to "http" or "https".

Motivation: normal use

[2018-10-21 20:31] gianca970226 commented on #130
Vrey importan

[2018-11-04 14:55] iget-master opened #172 "[Feature] Add Angular 7 support"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [x] Feature request
- [ ] Documentation issue or request

## Description

We should add Angular 7 support, since it have very small breaking changes, probably just swapping dependencies will do the job.

### Version Information

[code]

[2018-11-05 11:07] BoyKagud opened #173 "[Feature]: remove insert image only"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [x] Feature request
- [ ] Documentation issue or request

## Description

_A bug: Description of the issue you encountered_
_A feature: Description of the feature. Cause and its Motivation_

### Version Information

[code]

### Browser

- [x] Chrome - x.x.x

[2018-11-05 11:09] BoyKagud opened #174 "[Feature]: how to add new tool and customize it"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

_A bug: Description of the issue you encountered_
_A feature: Description of the feature. Cause and its Motivation_

### Version Information

[code]

### Browser

- [ ] Chrome - x.x.x

[2018-11-05 11:10] BoyKagud commented on #174
I want to add a tool clicking it would direct to  a modal or other menu

[2018-11-05 12:41] BoyKagud opened #175 "insert new tools and customize it."
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

_A bug: Description of the issue you encountered_
_A feature: Description of the feature. Cause and its Motivation_

### Version Information

[code]

### Browser

- [ ] Chrome - x.x.x

[2018-11-05 12:42] BoyKagud commented on #175
I want to add a button that will show a modal or direct to other component

[2018-11-05 15:02] laimutisign commented on #161
I found, that 'Remove Blockquote' calls 'formatBlock' command, to wrap 'div' element around the text. But in Firefox 63.0 'div' element is placed inside 'blockquote' element instead of removing it. Probably because of the second Boolean parameter with the value 'false' of document.execCommand is not supported in Mozilla:
https://developer.mozilla.org/en-US/docs/Web/API/Document/execCommand#Command

[2018-11-09 11:24] bringentor opened #176 "Multiple editor on same page and showToolbar"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

I'm using many editors on the same page and the problem is that by setting up 'showToolbar' property it doesnt get affected separatly, both editor toolbars are shown or hidden
[code]

[2018-11-13 11:28] hemanth-sp opened #178 "how to remove the youtube , image , link buttons??????????????????"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [ ] Feature request
- [x] Documentation issue or request

## Description

_A bug: Description of the issue you encountered_
_A feature: Description of the feature. Cause and its Motivation_

### Version Information

[code]

### Browser

- [ ] Chrome - x.x.x

[2018-11-13 11:37] sibiraj-s commented on #178
You Should be able to configure tool bar by providing necessary options.

- https://sibiraj-s.github.io/ngx-editor/additional-documentation/configuration.html
- https://sibiraj-s.github.io/ngx-editor/additional-documentation/toolbar.html.

[2018-11-13 11:40] #178 closed

[2018-11-13 11:42] hemanth-sp commented on #178
thank you boss

[2018-11-14 09:22] kapilthakkar2912 opened #179 "[Feature] Need (input) event or content change event."
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [X] Enhancement
- [X] Feature request
- [ ] Documentation issue or request

## Description

_A feature: Need (input) event so i can detect change.

### Version Information

[code]

### Browser

- [X] Chrome - x.x.x
- [ ]  Mozilla Firefox - x.x.x
- [ ] Opera - x.x.x
- [ ] Micr

[2018-11-15 18:31] #173 closed

[2018-11-15 18:31] #158 closed

[2018-12-03 20:59] supertorpez opened #183 "Lock the height"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [X] Feature request
- [ ] Documentation issue or request

## Description

_A feature: how i can fixed the height?

[2018-12-05 08:40] VanTigranyan commented on #26
Can you suggest such an editor for angular 6. I am searching for it already for 2 days. There is no editor which have all the functions I need. There is one which is Froala, but its not open source.

[2018-12-10 16:09] RobertHajbok opened #184 "[Feature]: paste & paste as text buttons"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [x] Feature request
- [ ] Documentation issue or request

## Description

I was wondering if there is any plan to add the paste button. I saw another issue - https://github.com/sibiraj-s/ngx-editor/issues/127#issuecomment-390474060, you mentioned you were co

[2018-12-11 06:38] jeffersonswartz commented on #183
@supertorpez Based on this documentation https://sibiraj-s.github.io/ngx-editor/additional-documentation/resizer.html it supports two options 'basic' and 'stacked'. By default it is 'stacked'.

There is a workaround to hide the resize bar, any value other than the two mentioned options will hide the resizer.

Like ,
`<app-ngx-editor resizer="none" [(ngModel)]="htmlContent"></app-ngx-editor>`

@sib

[2018-12-12 11:30] ph1lolog1st commented on #176
I have similar issue with [editable] input. All editors on my page are editable or not editable, so I cannot set [editable]="true" only to one editor.

[2019-01-01 13:30] Mandark-iprogrammer opened #186 "[BUG]:Copy a data Microsoft excel to text-editor styles are missing"
# I'm submitting a

Bug report

## Description

I have copied data excel to text-editor ,there is formatted data which is bold,table heading etc., So problem is that when we copy that data excel to text-editor that pasted data has removed it's CSS(also Table border). This issue is coming on all browsers which are copy data MS Office 365 excel to Text-editor.
Kindly please help for me that issue.

[2019-01-02 05:31] Mandark-iprogrammer commented on #186
### Ngx-editor Excel copy paste to editor

@sibiraj-s  please give me suggest of that issue

[2019-01-08 12:28] vigoncas opened #187 "[BUG]: Wrong toolbar behavior with multiple editors in the same page"
I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

Toolbar buttons, in the case you have multiple editors in the same page, affects the editor wherever the cursor is. You can click bold button in editor 2 and this action affects to selec

[2019-01-14 00:50] waynethompson commented on #172
Looks like the project is dead. Take a look at https://www.npmjs.com/package/@kolkov/angular-editor

[2019-01-29 22:02] tomrainedotcom opened #188 "[Feature]: Editor format buttons to interact with iOS keyboard format buttons"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [x] Feature request
- [ ] Documentation issue or request

## Description
A feature: When using the editor on an iOS device the keyboard gives options for bold, italic and underline. These are not selected when used in the editor. For example, if I was to pre

[2019-02-06 11:07] KK220794 commented on #24
can we change dependency from font-awesome to anything else like angular material icons?

[2019-02-11 23:19] tomrainedotcom opened #189 "[Enhancement] Have active state on toolbar buttons"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [x] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description
An Enhancement: When a user toggles a toolbar button like bold, italic, underline etc. there should be a class added on the button like "active". This is not required for all as things

[2019-02-12 22:06] knr89 opened #190 "Max length validator documentation with example"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [ ] Feature request
- [x] Documentation issue or request

## Description
I am new to Angular 6 and unable to figure out how to use custom max length validator. There is no proper documentation nor sample example to figure it out. Please provide working examp

[2019-02-19 15:19] khernik93 commented on #103
I've added a PR with the upload event implementation - feel free to approve it, or discard if it doesn't really suits your architecture ;-)

[2019-03-04 20:35] QuentinIcky opened #193 "How to use image uploader from local system ?"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [ ] Feature request
- [x] Documentation issue or request

## Description

I'm using your editor to create a blog with Angular and MongoDb. But I don't understand how to use the image uploader. When I try to upload, I can see a request and get a 200 from serv

[2019-03-07 05:52] anbueceit opened #194 "How to translate the link popover content to portugal"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ .] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

_A bug: Description of the issue you encountered_
_A feature: Description of the feature. Cause and its Motivation_

### Version Information

[code]

### Browser

- [ ] Chrome - x.x.x

[2019-03-18 18:52] QuentinIcky commented on #193
Any idea ?

[2019-04-10 05:18] CMUKUL commented on #162
@sibiraj-s - any update on this

[2019-04-17 07:34] AnelR commented on #34
Good day,

I am using the npm NgxEditor control in my Angular 7 project. The upload works fine in uploading the file but when the url is returned the page reloads instead of just inserting the image in the editor so I can continue editing. Inserting image via the URL works 100%, it adds the image in the editor and I can continue typing in the editor.

Is it possible to set the buttons to hidden? E

[2019-04-23 11:00] 72gm opened #195 "Multiple Editor Accessibility Issues"
# I'm submitting a
- [x ] Bug report

## Description
The use of IDs within the Editor causes accessibility issues when multiple editors are on the same page. Duplicate IDs are a Level A fail.

I can't control these IDs as they are within the tool

![image](https://user-images.githubusercontent.com/12847881/56575903-e748a480-65be-11e9-9c9b-1d092cf6c8a7.png)

"4.1.1 Parsing: In content implemented u

[2019-04-30 13:20] mateuspmello commented on #34
How did you implements this?
I'm having this problem: Cannot POST /assets/img

[2019-05-02 11:14] suyashjain151504 opened #196 "Bold feature is not working properly in microsoft edge browser"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

_A bug: Description of the issue you encountered_
_A feature: Description of the feature. Cause and its Motivation_

### Version Information

[code]

### Browser

- [ ] Chrome - x.x.x

[2019-05-02 11:15] suyashjain151504 commented on #196
bold feature in edge browser works upto 1 level , more dark bold expression works when we first click italic then bold button.

[2019-05-10 09:25] AnelR commented on #34
In my html I have the following:
 <app-ngx-editor #edtTest name="edtTest " [config]="htmlEditorConfig" height="300px"
                minHeight="300px" [spellcheck]="true" [(ngModel)]="bindingModel"></app-ngx-editor>

In TS file:
htmlEditorConfig = {
    editable: true,
    spellcheck: true,
    height: "10rem",
    minHeight: "5rem",
    width: "auto",
    minWidth: "0",
    translate: 'no',

[2019-05-16 06:48] sakthinatural commented on #23
@sibiraj-s : Can u able find the fix for the [(ngmodel)] issue for IE 11? Still we are not able to find the solution for that. Can u help on this please?

[2019-06-18 11:28] #160 closed

[2019-06-18 11:29] #159 closed

[2019-06-24 01:51] padmaja-challa commented on #23
Please let us know if there is any fix/ workaround for binding Model with ngx-editor in IE11?

[2020-04-20 19:03] sibiraj-s commented on #175
duplicate of #174

[2020-04-20 19:03] #175 closed

[2020-04-21 16:29] #80 closed

[2020-04-21 16:29] #95 closed

[2020-04-21 16:29] #135 closed

[2020-04-21 16:29] #136 closed

[2020-04-21 16:29] #162 closed

[2020-04-21 16:29] #168 closed

[2020-04-21 16:29] #189 closed

[2020-04-21 16:29] #196 closed

[2020-04-21 17:16] iget-esoares commented on #172
@waynethompson @amiram

Please check my fork of this package, updated to be compatible up to angular 9, and not depending on bootstrap or fontawesome, just angular/material.
 https://www.npmjs.com/package/@iget/editor

[2020-04-22 09:34] mrgunav opened #199 "Ivy Compatable issue in 5.0.0-alpha"
when i try to run application

![ngx-editor](https://user-images.githubusercontent.com/22202200/79965980-60b4f480-84aa-11ea-8764-430a56a65682.PNG)

[2020-04-23 08:36] #199 closed

[2020-04-23 09:36] sibiraj-s commented on #199
@mrgunav try `v5.0.0-alpha.1`

[2020-04-24 03:37] mrgunav opened #203 "Unable to set and reset [(ngModel)] value in ngx-editor-5.0.0-Alpha-1"
1). Initially i try set some text from component in ngmodel. But it is not updatedin editor.

2). After entering value in editor i try to reset the text by setting ngmodel empty. But it is also not updated.

[2020-04-24 17:49] sibiraj-s commented on #203
can u post the input for ngModel and no longer accets html as input. It should be a prosemirror document object.

v5 has lots of breaking changes and docs is incomplete. i am currently working on docs.

[2020-04-27 16:53] arunkiraan opened #206 "CSS Style not getting applied in text area"
I'm trying to apply CSS styling to the text area.

.ngx-editor .ngx-editor.text-area{
font-size: 12px !important;
}

when I try to copy and paste a text. The above style is overridden.

[2020-04-28 23:50] vincent-scw opened #207 "[Bug]: config is not working in 5.0.0-alpha.1"
#I'm submitting a

- [x] Regression (a behavior that used to work and stopped working in a new release)

## Description
[code]
editorConfig is not working in new version, but worked in previous version

### Version Information

[code]

### Browser

- [ ] Chrome - x.x.x

[2020-04-29 07:58] rjmnt commented on #145
Hi,
Is this feature implemented?  Can we get details on this?

[2020-04-29 08:35] rjmnt opened #208 "Paste as plain text"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [ ] Feature request
- [x] Documentation issue or request

## Description

How is pasting to plain text working in the demo version https://ngx-editor.stackblitz.io/?  Would like details, as I want to be able to paste as plain text into the editor after copyi

[2020-04-29 11:51] sibiraj-s commented on #208
the demo, you see is v5 alpha.1.
v4 is not maintained.

[2020-04-29 11:53] sibiraj-s commented on #207
Rite now editor accepts only one cofiguration. thats toolbar. you can refer here,
https://sibiraj.dev/ngx-editor/additional-documentation/configuration.html

can u post an example to reproduce your issue, a stackblitz or a repo may be.

[2020-04-29 11:56] sibiraj-s commented on #206
Yes. there are multiple issues with versions < v4 rite now. v5 is in alpha which uses prosemirror underneath which should be more stable.

[2020-04-29 11:59] sibiraj-s commented on #165
Closing as fixed.

[2020-04-29 11:59] #165 closed

[2020-04-30 00:37] vincent-scw commented on #207
Please check this
[https://stackblitz.com/edit/angular-zxaejr](https://stackblitz.com/edit/angular-zxaejr)

[2020-04-30 00:45] vincent-scw commented on #207
BTW, I am trying to upgrade ngx-editor from 3.3 to 5.0. I found the model binding has been changed from pure string to ProseMirror. Can you please write a little more to guide on this? Or these is a sample?

[2020-04-30 11:29] #207 closed

[2020-04-30 11:30] sibiraj-s commented on #207
Fixed in #209 , will be published in alpha.2 shortly.

[2020-04-30 12:37] #131 closed

[2020-04-30 12:37] sibiraj-s commented on #131
You can put CSS to do that.

[code]

Since v5

[code]

[2020-05-04 06:31] sibiraj-s commented on #151
Fixed in v5. Now uses material icons(SVG's) for the toolbar

[2020-05-04 06:31] #151 closed

[2020-05-04 06:34] sibiraj-s commented on #186
Sorry for the huge delay. Can you try v5.

Note: Tables are not supported yet.

[2020-05-04 08:06] Joniras commented on #151
Thanks @sibiraj-s for working on the library again, you make a lot of people happy 😄

[2020-05-05 11:56] rjmnt commented on #208
Thank you so much for your reply.

On Wed, 29 Apr 2020 at 17:21, Sibiraj <notifications@github.com> wrote:

[2020-05-05 16:55] sibiraj-s commented on #208
Closing as answered.

[2020-05-05 16:55] #208 closed

[2020-05-05 16:59] sibiraj-s commented on #188
This should be working since v5. reopen this if the issue still persists.

[2020-05-05 16:59] #188 closed

[2020-05-05 17:01] sibiraj-s commented on #187
Sorry for the delayed response. Try v5 (currently in alpha). this should be fixed.

[2020-05-05 17:02] sibiraj-s commented on #176
Sorry for the delayed response. Try v5 (currently in alpha). this should be working now. Reopen the issue if the problem still exists

[2020-05-05 17:02] #176 closed

[2020-05-05 17:06] sibiraj-s commented on #152
Hi. sorry for trouble you faced. I didn't enough time to work this lib at that time.

Currently v5 is a WIP. will try to cover the documentation as much as possible.

Meanwhile, Feel free to raise PR's incase there are any errors if you found in the documentation.

[2020-05-05 17:06] #152 closed

[2020-05-05 17:07] sibiraj-s commented on #206
Closing this as answered.

[2020-05-05 17:07] #206 closed

[2020-05-05 17:36] #70 closed

[2020-05-08 15:19] #157 closed

[2020-05-08 15:19] #169 closed

[2020-05-08 15:19] #174 closed

[2020-05-08 15:19] #194 closed

[2020-05-15 03:09] AhmedHlaimi commented on #34
@AnelR  can u give us ur response obecjt

[2020-05-15 18:52] DevelopersCourt commented on #203
If you want to reset it pass `{type: 'doc', content: []}` as value.

[2020-05-23 05:59] dosapati opened #220 "config and placeholder issues"
Hi,

 Thank you for this ngx editor. We have been using ngx-editor from last 2 years. Recently we started upgrading and noticed, the config and placeholder properties are removed.

Not sure whats the intent to remove them? how can I change the placeholder based on the component context to the current component?

can't bind to 'config' since it isn't a known property of 'ngx-editor'.
1. If 'ngx-edi

[2020-05-23 10:24] sibiraj-s commented on #220
@dosapati Its not removed. checkout the example how to use plugins https://stackblitz.com/edit/ngx-editor?file=src%2Fapp%2Fapp.module.ts

[2020-05-23 10:26] sibiraj-s commented on #203
Oh. I misunderstood. I thought it was not working at all. Thanks @DevelopersCourt .

Please reopen the issue, if it still exists

[2020-05-23 10:26] #203 closed

[2020-05-23 12:51] dosapati commented on #220
@sibiraj-s Thank you for your reply.

I have 2 problems now

1.

`ERROR in app/app.module.ts(380,14): Error during template compile of 'AppModule'
  Function calls are not supported in decorators but 'menu' was called.
`
2. The placeholder is defined at AppModule level, how can I change in one of my App Component.

[2020-05-23 14:05] sibiraj-s commented on #220
the package v5 is still in alpha. component level placeholder is not yet supported.

ERROR in app/app.module.ts(380,14): Error during template compile of 'AppModule' Function calls are not supported in decorators but 'menu' was called.

I am not sure about the error though. can u post a minimal repo where i can reproduce the issue. Meanwhile can you try this [solution](https://github.com/angular/a

[2020-05-24 11:24] dosapati commented on #220
@sibiraj-s : Thank you for your reply.

I tried using the options you suggested angular/angular#23609 (comment), angular/angular#23609 (comment) but none of them worked.

I tried to reproduce the error with a sample app using the latest angular 9 and couldn't re produce the same error on the sample app.

I have a 2-year-old angular application using old configurations and running on Angular 8 as o

[2020-05-28 20:50] goldel777 opened #221 "[FEATURE] Inserting/extracting html into a popup version of ngx-editor"
Hi,

This is a feature request.

We really love this editor.  We've been using an earlier version as a popup editor to handle lengthy descriptions.  We save editor changes only displaying the first n characters as inner html.

It seems that the latest version of the editor does not store the model innerHTML as html.   It would be great if there were an easy way to convert between html (which we us

[2020-05-29 18:08] sibiraj-s commented on #221
Are you looking for this

[code]

[2020-05-29 18:21] goldel777 commented on #221
Thanks for getting back to me
Yes and also how to go from html to the Jan doc that Nyc-editor used

Sent from Yahoo Mail for iPhone

On Friday, May 29, 2020, 2:09 PM, Sibiraj <notifications@github.com> wrote:

Are you looking for this
import { DOMSerializer } from "prosemirror-model";
import { schema } from "ngx-editor";

const contentNode = schema.nodeFromJSON(jsonDoc);

// https://developer.mozi

[2020-05-29 18:25] sibiraj-s commented on #221
@goldel777 check the  comment https://github.com/sibiraj-s/ngx-editor/issues/221#issuecomment-636111024. I updated it now.

[2020-05-29 18:26] sibiraj-s commented on #221
[code]

[2020-05-29 18:33] goldel777 commented on #221
Thank You!

Sent from Yahoo Mail for iPhone

On Friday, May 29, 2020, 2:26 PM, Sibiraj <notifications@github.com> wrote:

@goldel777 check the comment #221 (comment). I updated it now.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-05-30 03:36] #221 closed

[2020-05-30 03:54] sibiraj-s commented on #145
Sorry for the huge delay response.

you can extract text by.

in v4

[code]

v5
see https://sibiraj.dev/ngx-editor/additional-documentation/ngmodel-binding.html

[code]

[2020-05-30 03:54] #145 closed

[2020-06-02 13:44] #161 closed

[2020-06-08 16:42] sibiraj-s commented on #122
Sorry for the delay. since v5 no more, bootstrap. still few features are pending, they will be added soon.

[2020-06-08 16:42] #122 closed

[2020-06-11 12:55] valeri879 opened #234 "editor not working with reactive forms"
How to work with reactive forms?

[2020-06-12 16:04] sibiraj-s commented on #234
just, use it like any other form components.

Also It will not work now, I just saw there is a bug in the code. I will fix it tomorrow.

[2020-06-13 02:39] #234 closed

[2020-06-13 02:51] sibiraj-s commented on #234
checkout v5.0.0-alpha.9

[2020-06-16 12:26] aaqibqadeer opened #237 "ngx-editor has no exported member schema"
I want to convert the text to html to allow users to see the source code.

I read the documentation and tried to implement few things from it, but I am getting these errors

I can import the package by simply importing NgxEditorModule. But I can't call the forRoot() method to update the configuration.
[code]
It is showing this error:
`Property 'forRoot' does not exist on type 'typeof NgxEditorModu

[2020-06-17 01:51] sibiraj-s commented on #237
what version are you using? the documentation is for v5.
I will add it in readme.

[2020-06-17 01:53] sibiraj-s commented on #237
Cannot find module 'prosemirror-model
[code]
You must install external modules yourself.

[2020-06-17 06:02] aaqibqadeer commented on #237
I am using ngx-editor 4.1.0 and angular 7. I can't install the v5? Is it for angular 8+

[2020-06-17 12:22] sibiraj-s commented on #237
Nope. It should work, but I can't guarantee.

[2020-06-26 11:07] dwaipayan-dev opened #239 "[BUG] Cursor not going to newline on pressing Enter."
# I'm submitting a

-

- [x] Regression (a behavior that used to work and stopped working in a new release)

- [ ] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

_A bug: Description of the issue you encountered_
_A feature: Description of the feature. Cause and its Motivation_

### Version Information

[code]

### Browser

- [x] Chrome - x.

[2020-06-26 11:20] dwaipayan-dev commented on #239
I am trying to develop an angular application where I want to insert a rich text editor that stores data in string format rather than HTML format. Your editor used to store the data written in it as a string, so I decided to use it, but I found that the cursor is not shifting to new line on pressing enter. Also in firefox the cursor is not shifting to new line when it reaches the border of the tex

[2020-06-27 01:20] sibiraj-s commented on #239
You need add plugins for that to work.

For example see https://stackblitz.com/edit/ngx-editor?file=src%2Fapp%2Fplugins%2Findex.ts

[code]

[2020-06-27 01:21] #239 closed

[2020-06-27 01:22] sibiraj-s commented on #239
Please reopen the issue if it doesn't solve the problem.

[2020-06-27 01:25] #237 closed

[2020-07-16 11:35] nandekonst opened #242 "How to set height"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ X] Documentation issue or request

## Description

Thanks for creating this awesome package. In previous editions from this package it was always possible to set the height through a config property. This doesn't seem to exist anymore

[2020-07-16 13:40] sibiraj-s commented on #242
the height prop is removed, will add options to set attributes soon, until then you can use css.

try.

[code]

[2020-07-16 13:43] nandekonst commented on #242
Thanks for the info and the solution.

[2020-07-16 13:59] nandekonst commented on #242
That works!! thnx

[2020-07-16 13:59] #242 closed

[2020-08-24 08:16] gagandeep-s opened #246 "`[BUG]: ERROR in ./node_modules/ngx-editor/fesm2015/ngx-editor.js thrown on macOS`"
ERROR in ./node_modules/ngx-editor/fesm2015/ngx-editor.js
Module not found: Error: Can't resolve 'ngx-bootstrap' in '/node_modules/ngx-editor/fesm2015'

[2020-08-24 08:50] sibiraj-s commented on #246
Some information in the issue template is required. At-least it is required to fill in the basic details like angular version, lib version.

There is no enough details in the given description.

but guessing from the issue. You might be using v4. In v4 you must install peerDependencies yourself.

[code]

 check here for information https://github.com/sibiraj-s/ngx-editor/tree/v4.1.0.

Closing the

[2020-08-24 08:50] #246 closed

[2020-09-15 13:09] frndxyz opened #253 "editor size not incresing size when pressing Enter button ."
I'm submitting a bug:

## Description

editor not incresing size when pressing enter.

using reactive-forms.

### Version Information

[code]

### Browser

chrome

Error from developer tools:

column: 25
line: 107067
message: "Unknown node type: undefined"
sourceURL: "http://localhost:4201/vendor.js"
stack: "nodeType@http://localhost:4201/vendor.js:107067:25↵fromJSON@http://localhost:4201/vendor.j

[2020-09-18 05:21] sibiraj-s commented on #253
I can see but it working here https://ngx-editor.stackblitz.io/. can you create a stackblitz so that I can see what went wrong and fix it

[2020-09-18 05:22] sibiraj-s commented on #253
I can see it working here https://ngx-editor.stackblitz.io/.

I am not sure where it went wrong. Can you share a stackblitz reproducing the error?

[2020-09-19 19:41] vicatcu opened #254 "[Feature] Collaborative Editing"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [x] Enhancement
- [x] Feature request
- [ ] Documentation issue or request

## Description

To be totally transparent, I haven't even tried using this library yet. I came across it by looking for an angular binding for prose-mirror and stumbled upon this project via npm. Whil

[2020-10-06 10:47] nandekonst opened #255 "Error when applying any custom schema, plugins or nodeviews"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description
I have a problem with adding my custom schema and plugins to forRoot.
[code]

As soon as I do this I get an error message as soon as I open the component:

[code]

After further debuggi

[2020-10-09 12:43] LifeIsStrange opened #256 "WYSIWYG Markdown support"
Next generation editors allow WYSIWYG Markdown support such as slate and Tiptap.

Explanation of this awesome feature:
Markdown as of today is underused as the changes it will do are not visible while editing but this doesn't has to be the case:

As you can see in this demo[0], just outline a word with * and it instantaneously become italic.
What's more: if you start a new line with # it instantan

[2020-10-10 02:15] sibiraj-s commented on #256
I agree markdown is a great addition. I myself use markdown editor mostly.

There is still lot work to do. The current road map items for this package is to support everything that prosemirror supports which also includes markdown. I mostly work on this package on my free time, which I hardly find.

Any help is appreciated and All PR's are welcome.

[2020-10-10 02:21] sibiraj-s commented on #255
Hi, @nandekonst . the service provider is supposed to merge the given options with defaults. I am not sure where it broke.

I couldn't find time to work on this package in recent days. I will look into this issue sooner. Meanwhile all PR's are welcome.

[2020-10-10 12:05] LifeIsStrange commented on #256
Good to know!
But why not use the prosemirror API where relevant? At least as a stop gap for the missing features?

Sorry I won't do PR I have not the time nor the skill :p

[2020-10-12 08:56] nandekonst commented on #255
Thanks for your reply. No problem, I fixed the issue by using a new Angular install. Must have been some incompatibility somewhere. I'm will close the issue.

[2020-10-12 08:56] #255 closed

[2020-10-12 14:46] nandekonst opened #257 "[Bug/Feature?] NgModel two-way binding: Ngx-editor refreshes only on 'shallow' document change"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Enhancement
- [x] Feature request
- [ ] Documentation issue or request

## Description

Only when you swap out the entire document for a new one, Ngx editor re-renders its shown content. When I change a value inside the JSON Doc (for example the text of one of the text el

[2020-10-13 03:28] sibiraj-s commented on #257
Yeah. I just noticed. but there seems to be a bug there. I am working on it.

If the bug is fixed we won't need a forceRefresh option right?

[2020-10-13 04:02] sibiraj-s commented on #257
I did a mistake while testing. it seems to be working fine. Can you provide a small example(a stackblitz) to reproduce this.

[2020-10-19 10:53] nandekonst commented on #257
Sorry for the delay. In your Stackblitz you replace the first doc with a completely new doc, on button press. This works for us as well. However, we change just one node in the doc. In that case the changes are not reflected in the ngx-editor element. GIve us a moment to build a stackblitz to illustrate our example, we'll post it later today.

[2020-10-19 11:20] jpwichern commented on #257
Dear Sibiraj,

I'm a collegue of @nandekonst and modified your Stackblitz to fit the problem we have. You can find it here: https://stackblitz.com/edit/ngx-editor-cka7ga?file=src/app/app.component.ts . I have noticed on one occasion the modified text was output to the browser window, however I couldn't reproduce it. Most of the time when the button is pressed, the text won't change.

[2020-10-20 05:29] sibiraj-s commented on #257
I am looking into it, i will post an update by today.

[2020-10-20 12:20] sibiraj-s commented on #257
I have tested it, it seems the angular is the one not picking it up deep object mutation. IMO avoid mutations.

Some working hacks could be

[code]

Source: https://blog.angular-university.io/how-does-angular-2-change-detection-really-work/
See here for some information on how angular treat deep objects.

A related [stackoverflow question](https://stackoverflow.com/questions/34796901/angular2-chan

[2020-10-23 14:47] nandekonst commented on #257
Thank you for your suggestions about (mis)using the spread/rest operator to force a change detect. It works! This is a sufficient hack for everyone who has full control over the jsondoc. Your link to stackoverflow about Angular2 change detection is also very interesting (especially the ```ngDoCheck()``` part). I will close the issue now.

[2020-10-23 14:47] #257 closed

[2020-10-27 14:36] danchaseCTS commented on #220
Hi,

I have a config on a per-editor basis (about 4-5 different editor configs, different pages).. I just upgraded to Angular 10, and it's throwing errors. When I upgraded to the new version of ngx-editor, no errors, but I'm not sure how to deal with the configs, it's saying "Can't bind to 'config' since it isn't a known property of 'ngx-editor'."

Am I stuck with ngx-editor4 by chance? Here's wha

[2020-10-28 03:14] sibiraj-s commented on #220
@danchaseCTS . what version of ngx-editor are you using with angular 10.

Also Try clearing node_modules and reinstall it.

[2020-11-09 13:40] florianpasteur opened #263 "[BUG] Insert video popover form validation is not enough permissive (width and height)"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

When adding a video on `Insert Video Popover` the validation form does not allow more than one number for `width` or `height` values.

**Valid form:**
![valid-form](https://user-images

[2020-11-09 15:47] sibiraj-s commented on #263
Fixed in v4.1.1

[2020-11-09 15:47] #263 closed

[2020-11-17 01:12] argelj289 opened #266 "Support for angular 10"
Is ngx-editor still supported for angular 10?

because when I tried to upgrade my project to angular 10  that has ngx-editor in it,

the editor is not created in page after compiling it

ngx-editor version: ^5.0.0-alpha.7
angular version: 10.1.3

[2020-11-17 06:01] sibiraj-s commented on #266
If you are updating from v4, there are changes. See the documentation for usage details. Else, can you provide more details?

[2020-11-17 14:34] florianpasteur opened #267 "[Feature]: Insert image with custom size and alt text"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [x] Feature request
- [ ] Documentation issue or request

## Description

Add an image with custom size and alternate text, same behavior as the video feature.

**Actual:**
![Actual Image Insert Feature](https://user-images.githubusercontent.com/59569242/994

[2020-11-20 13:58] jpwichern opened #269 "[BUG]: Run in production mode: Heading dropdown disappears."
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [X] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

When compiling our project which uses the ngx-editor v5, in production mode (ng build --prod, ng serve --prod), the heading drop down disappears. It also leaves no traces in the DOM. A

[2020-11-20 14:15] sibiraj-s commented on #269
Hmm, strange 🤔 . I will look into this. It would be great if you could put together a stackblitz to reproduce this.

Also, PR's are welcome 😄

[2020-11-20 15:26] jpwichern commented on #269
I tried to use the stackblitz you sent us from a previous issue, updated ngx-editor to alpha 9 and added --prod flags but there the header dropdown just appeared. So either something else goes wrong in my code which I can't find that has a particular impact on the menu or the bug isn't reproducable with stackblitz. However I did find a console warning in the log now which I overlooked earlier:

Un

[2020-11-20 16:23] sibiraj-s commented on #269
Thanks. Incase if you are not using the defaults, post your config here. I I will check. Meanwhile I will try to setup a locally and verify. I will update you back by tomorrow.

[2020-11-21 11:52] sibiraj-s commented on #269
I was able to reproduce it in angular 10, where as it works fine in angualr. 11 strange 🤔 . I make a patch soon.

[2020-11-21 15:16] #269 closed

[2020-11-21 15:34] sibiraj-s commented on #269
Try with the recent alpha.

[2020-11-21 17:03] jpwichern commented on #269
I will, monday when I'll continue work on the editor with my colleague.
I'll keep you posted on the results.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virusvrij.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On S

[2020-11-22 19:15] sibiraj-s commented on #266
Try the current version. alpha.9 supports angular 10. Incase you are updating from v4, there are some breaking changes. see the docs once.

Thanks.

[2020-11-22 19:15] #266 closed

[2020-11-22 19:17] sibiraj-s commented on #138
Finally, fixed in v5-alpha.9.

[2020-11-22 19:17] #138 closed

[2020-11-22 19:19] sibiraj-s commented on #112
Sorry for the big delay. I am not working with angular anymore nor I don't have the time. I do stuff at the the spare time I get. Finally Fixed in v5.alpha.9.

[2020-11-22 19:26] #112 closed

[2020-11-24 03:29] sibiraj-s commented on #269
@jpwichern did it work?

[2020-11-29 06:35] sibiraj-s commented on #170
Sorry for the huge delay. I no longer use angular and I maintain this on my free time. Fixed in v5. URL's are validated now. Thanks.

[2020-11-29 06:35] #170 closed

[2020-11-29 06:36] sibiraj-s commented on #253
Closing it due to inactivity. Feel free to reopen if the issue still exists.

[2020-11-29 06:36] #253 closed

[2020-11-29 16:06] #115 closed

[2020-11-29 16:06] #267 closed

[2020-12-03 12:05] sibiraj-s commented on #190
sorry for the delay. I no longer use angular and I maintain this on my free time. this No longer applicable in v5 so closing it. If you are still using this editor. It is recommended to use v5. Thanks.

[2020-12-03 12:05] #190 closed

[2020-12-07 08:08] sibiraj-s commented on #103
With v5. you can write your own custom menu items, so it is possible to write custom image component upload function to upload images and insert the images back. See the `ImageCommand` implementation for how to insert images.

Also. Sorry for the delay. I have been not using angular anymore and I maintain this during my spare time. If you are still using the package and need help feel free to post

[2020-12-07 08:08] #103 closed

[2020-12-07 08:09] sibiraj-s commented on #193
With v5. you can write your own custom menu items, so it is possible to write custom image component/upload function to upload images and insert the images back. See the `ImageCommand` implementation for how to insert images.

Also. Sorry for the delay. I have been not using angular anymore and I maintain this during my spare time. If you are still using the package and need help feel free to post

[2020-12-07 08:09] #193 closed

[2020-12-07 13:18] sibiraj-s commented on #256
Use v5. This is doable via Input rules, see https://sibiraj.dev/ngx-editor/#/input-rules for implementation.

[2020-12-07 13:18] #256 closed

[2020-12-07 15:29] #125 closed

[2020-12-09 05:46] #220 closed

[2020-12-09 05:58] sibiraj-s commented on #220
the placeholder issue is fixed in v5-alpha.17

[2020-12-09 06:03] sibiraj-s commented on #254
Haven't looked in the collaborative editing yet. but with prosemirror one should be able to write a plugin to achieve it by following the example here https://github.com/ProseMirror/prosemirror-collab.

It is possible to pass prosemirror plugins via `editor.forRoot({plugins})`. I am not sure about adding the support to the editor itself. It might increase the maintenance burden. When I am free I w

[2020-12-13 18:13] mzbrand opened #290 "[BUG]: ngx-editor-toolbar.component.d.ts:3:31 - error TS2307: Cannot find module 'ngx-bootstrap'"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

### Version Information

After upgrading from Angular 8 I'm getting a compilation error for ngx-editor:

`Error: node_modules/ngx-editor/app/ngx-editor/ngx-editor-toolbar/ngx-editor-to

[2020-12-14 03:14] sibiraj-s commented on #290
V5 doesn't have `ngx-bootstrap` dependency. and the file `ngx-editor-toolbar.component.d.ts` doesn't exist. Try deleting the node_modules and reinstall. that should fix it.

[2020-12-14 03:16] sibiraj-s commented on #290
Note: Since you are upgrading from v5. see here https://sibiraj.dev/ngx-editor/#/doc-html-doc for converting HTML to json and vice versa.

[2020-12-24 10:44] sibiraj-s commented on #290
I hope it is fixed. reopen if the problems still exists.

[2020-12-24 10:44] #290 closed

[2020-12-24 10:44] #123 closed

[2020-12-24 10:44] #130 closed

[2020-12-24 12:55] #186 closed

[2020-12-24 12:56] sibiraj-s commented on #137
Font size/family can be implemented using custom menu in v5. Table support will be added eventually.

[2020-12-24 12:56] #137 closed

[2020-12-24 13:02] sibiraj-s commented on #184
Hi, Sorry for the huge delay. I stopped working on angular. I started maintaining the project in my free time and I will continue to.

Closing this one as it is too old, and can be implemented by writing a prosemirror plugin using [transformPastedHTML](
https://prosemirror.net/docs/ref/#view.EditorProps.transformPastedHTML) or related methods.

In case if you are still using this editor. let me kn

[2020-12-24 13:02] #184 closed

[2020-12-27 15:45] sibiraj-s commented on #254
I have added an example here https://sibiraj-s.github.io/ngx-editor/#/collab using `yjs`.

[2020-12-27 15:45] #254 closed

[2020-12-29 05:17] sibiraj-s commented on #126
Should be doable via css attribute selector.

[2020-12-29 05:17] #126 closed

[2020-12-29 16:45] Maks-Yaremenko commented on #190
Hello.
Seems like Validators.required() from ngx-editor not working, as well as custom validation for maxLength...
I'm using "ngx-editor": "^5.0.0".
I tested it on the demo app from your repo. Could you please suggest smth how can I solve this? Thank you.

[2020-12-29 17:14] Maks-Yaremenko opened #300 "[BUG]: Validators.required"
### Description
I have tried to apply Validators.required() from 'ngx-editor' but seems like it's not working. When I applying this rule, ng-invalid always reflected inside ngx-editor class list.
Probably the issue can be related to `new DOMParser().parseFromString(value, 'text/html');` because when we are working with the document it is an object, not HTML, I had such issue with maxLength validat

[2020-12-29 17:28] Maks-Yaremenko opened #301 "[Feature]: Input parameter -> format HTML | jsonDoc"
### Description

It would be great if we will have a possibility to pass a parameter for input/output format, for example, if someone stores HTML instead of object it would be great to update ngModel or formControl with HTML instead of manually call toHTML every time. The same for input, we should call to toDoc manually every time whenever we passing data to the editor.

Currently, to achieve this

[2020-12-30 00:32] sibiraj-s commented on #301
Agreed, will add it.

[2020-12-30 00:33] sibiraj-s commented on #300
Can you provide a reproducible example? in stackblitz. You can use this https://stackblitz.com/edit/ngx-editor to setup .

[2020-12-30 03:58] sibiraj-s commented on #301
Fixed in v5.1.0

[2020-12-30 03:58] #301 closed

[2020-12-30 04:52] sibiraj-s commented on #300
Fixed in v5.1.1

[2020-12-30 04:52] #300 closed

[2020-12-30 06:34] Maks-Yaremenko commented on #301
thank you for your instant response!! Seems like your fix works perfectly for input, unfortunately, output wasn't affected. So in case if you throw in HTML, currently you are still receiving doc object as output. It would be perfect to keep it consistent. input / output HTML or input/output doc object.

[2020-12-30 07:06] Maks-Yaremenko commented on #300
Seems like the validator 'required' sensitive to ngModel value, in case if you work with HTML it doesn't work. I'm getting this error when I'm working with html.

`
   core.js:6228 ERROR RangeError: Unknown node type: undefined
    at Schema.nodeType (index.es.js:2394)
    at Function.fromJSON (index.es.js:1365)
    at Schema.nodeFromJSON (index.es.js:2382)
    at ngx-editor.js:2506
    at forms.j

[2020-12-30 07:10] sibiraj-s commented on #300
Oh. I will check. Tests has to be added tests to make sure these things won't happen.

[2020-12-30 07:33] sibiraj-s commented on #300
Found it. Will fix in few minutes.

[2020-12-30 07:36] Maks-Yaremenko commented on #300
Thank you so much! This is the first time when someone replied so fast! Will you have a chance to update the editor to keep consistency in input/output value type?

btw: how about adding a validator for maxLength?

`
   import { AbstractControl } from '@angular/forms';

interface MaxLengthValidatorOptions {
  excludeLineBreaks?: boolean;
  concatWhiteSpaces?: boolean;
  excludeWhiteSpaces?: boolea

[2020-12-30 07:39] sibiraj-s commented on #300
I am doing it now will release an update in few minutes.

[2020-12-30 07:44] Maks-Yaremenko opened #302 "[BUG]: editable: false, should disable controls"
## Description

When we are setting editable false, it would be great to disable controls as well. Currently in case if editable set as false, the user cant type anything but he is able to apply all actions on the selected text, which can be confusing.

### Version Information
[code]

[2020-12-30 07:46] sibiraj-s commented on #300
I am not sure adding a maxlength validator in a rich text editor makes sense because you have images and whatnot. we can never know what and when users will want.

We can specify that in the docs as examples for users to refer. but because of the inconsistency I removed it while doing v5.

[2020-12-30 07:51] sibiraj-s commented on #302
Since the severity is low. I will fix this tomorrow. I am quite occupied at this moment. Have fixed other high sev issues though

[2020-12-30 07:53] sibiraj-s commented on #301
fixed in v5.2.0.
If input is HTML output will be HTML.
also you can specify outputFormat (doc/html) as input.

[2020-12-30 07:53] sibiraj-s commented on #301
Feel free to raise PR's correcting the docs or bug fixes. For features open a issue/discussion first.

[2020-12-30 07:55] sibiraj-s commented on #300
Fixed in v5.2.0

[2020-12-30 07:56] Maks-Yaremenko commented on #300
Probably you are right. It would be great to put it in the doc.

PS: I'm also working with images. I'm using logic from maxLength validator to get text length, to show it in the hint. I think for most people it would be useful to get text length and apply any such a basic validation on text-editor input. Anyhow string from the text editor takes more than expected maxLength due to HTML blocks and s

[2020-12-30 08:03] Maks-Yaremenko commented on #301
you are a superhero! input/output HTML works perfect, validation works perfectly as well!

[2020-12-30 09:30] sibiraj-s commented on #302
Fixed in v5.2.1

[2020-12-30 09:31] #302 closed

[2020-12-30 11:44] azaif7 opened #303 "[BUG]: Backgroud and color of text gets remove"
# I'm submitting a

- [x] Bug report

## Description

_A bug: When I give some background color or color to the text and then I resize the text, the color and bg gets remove.

### Version Information

[code]

### Browser

- [ ] Chrome - 87.0.4280.88

https://user-images.githubusercontent.com/76776233/103349288-495ceb00-4abe-11eb-8254-ccc13c5b02f8.mp4

[2020-12-30 15:24] sibiraj-s commented on #303
@azaif7 v2 is more than 2years old. It is no longer supported, also I don't remember most of the things there and also the API's.  There are many issues with contenteditable api's.

Recommended to use latest version but unfortunately the latest version requires angualr 9 or above.

[2020-12-30 15:24] #303 closed

[2021-01-01 15:17] sibiraj-s commented on #300
@Maks-Yaremenko I have added a simple maxLength/minLength validator in v5.3.0

[2021-01-02 21:07] yusufkhan2546 commented on #176
i am still facing this issue ..
here in my package.json

"ngx-editor": "^5.3.0",
![issue2](https://user-images.githubusercontent.com/48908924/103466613-89e19080-4d6c-11eb-86a7-9d008ef9f7af.png)

[2021-01-03 13:34] sibiraj-s commented on #176
@yusufkhan2546 I will check that out. Meanwhile a stackblitz example would fasten things up.

[2021-01-03 17:18] sibiraj-s commented on #176
@yusufkhan2546 V5 has no option to disable menu via component level. Try v6 you can include the menu component only when required.

[code]

[2021-01-04 20:11] MateMahinKhan opened #305 "[Feature] Custom floating menu"
# I'm submitting a
Feature request

## Description

Love the project! Thanks for your hard work.

I'm trying to implement a floating menu that would appear above the line when some text is selected

I saw the issue for menu on the bottom of the editor. I was wondering if It's possible to do it in prosemirror bypassing ngx-editor toolbar altogether?

![image](https://user-images.githubusercontent.c

[2021-01-05 01:34] MateMahinKhan opened #306 "[BUG] Custom menu example not working properly on stackblitz"
[ ] Bug report

[stackblitz example that I forked](https://stackblitz.com/edit/ngx-editor-kpd7tc?file=src%2Fapp%2Fcomponents%2Fcustom-menu%2Fcustom-menu.component.html)

I added the class `newClass` in custom-menu.component.html and it does not appear in HTML inspection.

In the documentation it mentions adding the `customMenuRef` like this
[code]

but the app.component.ts file doesn't tell how to

[2021-01-05 01:49] MateMahinKhan commented on #306
Now I understand how it works. The top menu option for CodeMirror was not visible when stackblitz opened. (menu was cut off)

but I'm still curious how does the reference work here?

[2021-01-05 01:51] #306 closed

[2021-01-05 02:15] sibiraj-s commented on #306
Glad you figured it out. the documentation is little dull as of now, I couldn't find time to work on it. If you think anything can be improved anywhere in the documentation to avoid these scenarios, feel free to suggest improvements. All contributions are welcome.

Thanks.

[2021-01-05 02:26] sibiraj-s commented on #305
You should be able to provide plugins to prosemirror directly via.

[code]

or register a plugin on the fly like.

[code]

Refer bubble component as an example https://github.com/sibiraj-s/ngx-editor/blob/master/src/lib/components/bubble/bubble.component.ts
This is what that shows up when you click on a link in the editor. this is based on the example here https://prosemirror.net/examples/tooltip/

[2021-01-06 14:55] Maks-Yaremenko commented on #301
It seems like starting from v5.3 validators not properly working due to value parsing, I'm getting the error '...chilCount of null'.

[2021-01-07 03:52] sibiraj-s commented on #301
@Maks-Yaremenko No changes were made to the validators since then. could be a bug. how can I reproduce it? it works well in my local.

[2021-01-07 20:31] Maks-Yaremenko opened #309 "[BUG]: Broken image thumbnail is not displayed in the editor"
# I'm submitting a

- Bug report

## Description

You can successfully add an image using the add image tool, then you have to delete the image on the server. After you'll load a document that contained a deleted (on the server) image, the broken image won't be reflected in the document - but it will be there.

### Version Information

[code]

### Browser

- Chrome - Version 87.0.4280.88 (Official

[2021-01-08 03:02] sibiraj-s commented on #309
@Maks-Yaremenko Please follow the issue template.

Issue title and issue description are totally different.

[2021-01-08 09:21] Maks-Yaremenko opened #310 "[BUG]: After image or link injection, editor lose focus"
# I'm submitting a

- Bug report

## Description

_A bug: Description of the issue you encountered_
In case of usage add a link or image functionality, after the overlay is closed editor loses focus.

steps to reproduce #1
1. click on the add link or image button
2. select enter link or any input field
3. put your image link or a simple link
4. click add
5. link was added BUT editor loses its focu

[2021-01-08 09:24] Maks-Yaremenko commented on #309
okay. sorry

[2021-01-08 10:04] sibiraj-s commented on #309
based on my understanding I updated the title. can you confirm if that is the bug?

[2021-01-08 10:05] sibiraj-s commented on #309
Can you paste the document sample with which you are facing the issue

[2021-01-08 10:06] sibiraj-s commented on #310
Will fix it.

[2021-01-08 10:07] Maks-Yaremenko commented on #309
no no, incorrect. Let me explain - You can successfully add an image using the add image tool, then you have to delete the image on the server. After you'll load a document that contained a deleted (on the server) image broken image won't be reflected in the document - but it will be there

[2021-01-08 10:09] sibiraj-s commented on #309
Oh. got it. the broken thumbnail is not showing up.

[2021-01-08 10:09] Maks-Yaremenko commented on #309
yes, exactly!

[2021-01-08 10:12] Maks-Yaremenko commented on #309
ps: is there a way to pass custom validator for image link? I am facing issues with some URLs, that contain сyrillic fonts, or some characters... like times.. for example when an image has dimensions like 1200x1500

[2021-01-08 10:16] sibiraj-s commented on #309
Can you open a new discussion for that? lets keep the discussion here for this issue alone

[2021-01-08 10:17] Maks-Yaremenko commented on #309
Do you mean request?

[2021-01-08 10:21] sibiraj-s commented on #309
do here https://github.com/sibiraj-s/ngx-editor/discussions

[2021-01-08 10:27] sibiraj-s commented on #309
<img width="404" alt="Screenshot 2021-01-08 at 3 56 07 PM" src="https://user-images.githubusercontent.com/20282546/104004719-15727b80-51ca-11eb-91ff-a16cc10afa15.png">

@Maks-Yaremenko I was able to see the broken thumbnail when I tested it.

[2021-01-08 10:36] sibiraj-s commented on #310
Fixed in v6.0.3.

[2021-01-08 10:36] #310 closed

[2021-01-11 08:50] sibiraj-s commented on #309
@Maks-Yaremenko  Let me know if this is an issue or can be closed

[2021-01-11 10:35] Maks-Yaremenko commented on #309
I can confirm that the thumbnail exists in the record of the document, but not reflecting in the editor.

in editor (image exist on the server)
![image](https://user-images.githubusercontent.com/22315741/104169974-10e7d600-5409-11eb-97e7-2bbfa36b8f1e.png)

in HTML (image exist on the server)
![image](https://user-images.githubusercontent.com/22315741/104170051-2eb53b00-5409-11eb-9ba7-6a03800d4856.

[2021-01-11 10:46] sibiraj-sr commented on #309
Migrating to v6 is very straightforward. Can you refer this one to upgrade https://sibiraj-s.github.io/ngx-editor/#/migration-5-6 let me know if you face any issues. I will assist you along the migration.

[2021-01-11 10:47] sibiraj-s commented on #309
Migrating to v6 is very straightforward. Can you refer this one to upgrade https://sibiraj-s.github.io/ngx-editor/#/migration-5-6 let me know if you face any issues. I will assist you along the migration.

[2021-01-11 10:50] sibiraj-s commented on #309
v6 allows to extend features very easy both internally and for developers too. I heavily recommend you to upgrade it.

[2021-01-11 10:52] Maks-Yaremenko commented on #309
yes, I used this guide to migrate to a newer version but received errors with childCount, same as on v 5.3. + I created a wrapper to use editor inside mat-form-field, so I got some style issues during migration. Unfortunately, I'm not allowed to spend any more time with the editor on my project. Probably I'll try to migrate one more time after work hours.

[2021-01-11 10:54] sibiraj-s commented on #309
Sure.

[2021-01-11 12:14] sibiraj-s commented on #309
Thanks for sharing the screenshots I was able to reproduce that. The Images without alt text is the ones that doesn't have thumbnails. The rest works fine. I will debug this.

[2021-01-11 12:17] Maks-Yaremenko commented on #309
Thank you! You are doing a great job!

[2021-01-11 12:19] sibiraj-s commented on #309
Thanks. Consider a star for the project. If you like the work.

[2021-01-11 12:20] Maks-Yaremenko commented on #309
done)

[2021-01-11 14:33] sibiraj-s commented on #309
Turns out it is just a css issue. Fixed in [v6.1.0-beta.1](https://github.com/sibiraj-s/ngx-editor/releases/tag/v6.1.0-beta.1).

Since you have v5. I suggest a small patch.

[code]

[2021-01-11 14:33] #309 closed

[2021-01-11 14:35] Maks-Yaremenko commented on #309
thank you a lot!

[2021-01-15 08:33] Maks-Yaremenko opened #313 "[BUG]: ERROR TypeError: Cannot read property 'execute' of undefined for prod build"
# I'm submitting a
-  Bug report

## Description

_A bug:
On production, we are facing ERROR TypeError: Cannot read property 'execute' of undefined.
On production whenever I'm clicking on the buttons on the editor I see no reaction but errors in the console.

![image](https://user-images.githubusercontent.com/22315741/104700275-937bd880-571c-11eb-9e2a-ad2a7c3761ef.png)

### Version Information

[c

[2021-01-15 09:33] sibiraj-s commented on #313
Only In production?

[2021-01-15 09:44] Maks-Yaremenko commented on #313
yes, I'm facing this issue only in production.

[2021-01-15 10:01] sibiraj-s commented on #313
Can you provide a minor setup to reproduce this? I am not sure what config you have or what causes this. I tried enabling prodMode and everything works fine.

[2021-01-15 11:07] Maks-Yaremenko commented on #313
I prepared minimal reproduction for you, https://github.com/Maks-Yaremenko/ngx-editor-prod-issue

you can only click on the buttons related to colors, link + image, other buttons are not working.

In case if you'll type smth in the editor you will see the next errors.
![image](https://user-images.githubusercontent.com/22315741/104717672-56badc00-5732-11eb-83bf-bc638d239143.png)

I'll really apprec

[2021-01-15 11:51] sibiraj-s commented on #313
Checking...

[2021-01-15 11:52] Maks-Yaremenko commented on #313
Thank you, I'm doing the same as well.

[2021-01-15 12:00] sibiraj-s commented on #313
<img width="824" alt="Screenshot 2021-01-15 at 5 29 32 PM" src="https://user-images.githubusercontent.com/20282546/104724849-449f6480-5757-11eb-84d1-f958af6735fd.png">

I have npm 6. I ran `npm install` then `npm start`. Getting this error.

[2021-01-15 12:01] Maks-Yaremenko commented on #313
I'm using 7.0.10, that's weird

[2021-01-15 12:02] Maks-Yaremenko commented on #313
I created this project using npx @angular/cli@9 new ngx-editor-prod-issue

[2021-01-15 12:05] sibiraj-s commented on #313
Can you check and let me know I couldn't continue. I am not sure if npm version is an issue.

[2021-01-15 12:05] Maks-Yaremenko commented on #313
could you provide the exact version of npm, I'll install it and will try to setup deps on my side, tested with the current version - no issues with deps

[2021-01-15 12:33] Maks-Yaremenko commented on #313
![image](https://user-images.githubusercontent.com/22315741/104727584-3d1f9180-573e-11eb-9178-61caef133d08.png)
I had some errors during installation using npm -v === 3.10.10 this version was delivered with node v. 6.14.4, could you please specify the version on the node that you are using?

[2021-01-15 12:37] Maks-Yaremenko commented on #313
installed node v14.12.0 which was delivered with npm v6.14.8. Installed all packages with no issues, but faced with the same issue during npm start that you are mentioned...
![image](https://user-images.githubusercontent.com/22315741/104728156-262d6f00-573f-11eb-9159-2a8c74d84b60.png)

[2021-01-15 12:42] Maks-Yaremenko commented on #313
that's really weird.. but `npm install @angular/material@9.2.2` with npm start
![image](https://user-images.githubusercontent.com/22315741/104728661-e87d1600-573f-11eb-828e-abb459a5bed5.png)

[2021-01-15 12:45] Maks-Yaremenko commented on #313
with the downgraded material library I'm able to start the app with the --prod flag, and reproduce the issue

[2021-01-15 12:51] Maks-Yaremenko commented on #313
could you please reply whenever you'll be able to take a look?

[2021-01-15 13:30] sibiraj-s commented on #313
I am using node 14.15.1

[2021-01-15 13:31] sibiraj-s commented on #313
Sorry. Today is a festive day. I am on a holiday. thats why the delay.

[2021-01-15 13:32] Maks-Yaremenko commented on #313
my regular version is 15.2.0, with npm 7.0.10. But currently, I'm working with version node 14.12.0 and npm v6.14.8 as I stated above, to be closer to your environment.

[2021-01-15 13:33] sibiraj-s commented on #313
I did this and it didn't work.

[2021-01-15 13:33] Maks-Yaremenko commented on #313
weird(((

[2021-01-15 13:35] sibiraj-s commented on #313
I am trying now with npm 7

[2021-01-15 13:36] sibiraj-s commented on #313
Works now. Not sure why npm is an issue here. Checking the issue.

[2021-01-15 13:38] Maks-Yaremenko commented on #313
I even bumped Angular version to 10.2.4, and material to 10.2.7.. ng serve works fine, but ng serve --prod gives me the same errors as I mentioned in the description.

[2021-01-15 13:40] sibiraj-s commented on #313
Checking on that.

[2021-01-15 13:48] Maks-Yaremenko commented on #313
I figured out what caused after installation error... material requires cdk library, but I didn't install it. sorry for that
![image](https://user-images.githubusercontent.com/22315741/104734420-e4092b00-5748-11eb-9f63-576f6f21711f.png)

[2021-01-15 13:58] sibiraj-s commented on #313
NO issues. npm 7 installs peerDeps automatically. I saw the issue and try to figure out what causes this.

[2021-01-15 14:00] Maks-Yaremenko commented on #313
yes, seems like. I just let you know what causes the issue with installation when u used v6 of npm.

[2021-01-15 14:14] sibiraj-s commented on #313
I think I found the issue. Some issue with `Map`.

Setting the value by

[code]
and getting it by
[code]
returns undefined. Not sure if this is a problem with the library.

[2021-01-15 14:15] Maks-Yaremenko commented on #313
probably I need to add Map polyfill in the app!

[2021-01-15 14:17] sibiraj-s commented on #313
Polyfill is needed if the feature is not available. I works in development because it is supported. It shouldn't behave differently in development and production.

[2021-01-15 14:19] sibiraj-s commented on #313
I will be unavailable for 30mins. Can you search around this. and also see if this is happening in angular 11 as well?

[2021-01-15 14:20] Maks-Yaremenko commented on #313
I'm trying to migrate my code to your example with 11v of Angular. In progress. I'll let you know when I'll finish.

[2021-01-15 14:43] sibiraj-s commented on #313
sure.

[2021-01-15 14:48] sibiraj-s commented on #313
Also I found the `childCount` issue you mentioned while updating to v6. The regression was since 5.3

[2021-01-15 14:51] Maks-Yaremenko commented on #313
yeah.. I mentioned that issue... in some of the other reports... which was one of the reasons why I didn't migrate to the latest version. FYO: seems like polyfills didn't help

[2021-01-15 15:00] Maks-Yaremenko commented on #313
so, I moved my implementation to your example with v11... seems like no issues on angular 11... but issue reproducible on v9, v10

[2021-01-15 15:01] sibiraj-s commented on #313
Strange.

[2021-01-15 15:51] sibiraj-s commented on #313
Something is wrong with the compiler it seems. I am checking. Meanwhile can you update to v6.

It is fixed in v6.beta.2 Update should be straight forward. It will be easy for me to work and release with v6.

[2021-01-15 15:56] sibiraj-s commented on #313
@Maks-Yaremenko

Setting.

[code]

in angular.json fixes the issue

[2021-01-15 15:59] Maks-Yaremenko commented on #313
currently, I'm working in another direction - bumping the Angular version... to 11. Hope nothing will be broken. Thank you for the suggestion

[2021-01-15 16:06] sibiraj-s commented on #313
Consider the fallback if things go south.

[2021-01-15 16:07] Maks-Yaremenko commented on #313
Thank you!

[2021-01-15 16:14] sibiraj-s commented on #313
Update.
Just setting
[code]
fixes the issue.

[2021-01-18 06:24] sibiraj-s commented on #313
Were you able to resolve the issue?

[2021-01-18 18:19] fredmabire commented on #305
Hi,

I create a component for doing this.

ballon.component.html
`<ngx-editor-menu class="tooltip" [editor]="editor" >
</ngx-editor-menu>`

ballon.component.css (see [Prosemirror tooltip](https://glitch.com/edit/#!/raspy-burnt-archduchess?path=index.html%3A1%3A0))
[code]

ballon.component.ts

[code]
Add `position: relative;` to `.editor` class in app.component.scss

Then replace

`<ngx-editor-menu

[2021-01-18 23:39] Maks-Yaremenko commented on #313
Hi! Sorry for the late response, disabling build optimization wasn't an option for us. We decide to update our project to use the latest Angular version, where your package works fine. So after this update, it works perfectly for us. Anyhow issue on Angular v9 still reproducable.

[2021-01-19 11:52] sibiraj-s commented on #305
Thanks @fredmabire . It is a good one.

But I didn't add it to the lib yet since it was difficult to calculate the position of nodes with images in it. I need to try if I can do one will node_views. couldn't find time.

Also this might overlap with the builtin link bubble that showsup when selection has a link or clicked on a link

[2021-01-19 11:56] sibiraj-s commented on #313
Cool. Glad I could assit.

I will try to fix the issue though meanwhile. I guess the transition to ivy based compiler in angular 9 has some issues.

[2021-01-19 13:16] sibiraj-s commented on #313
Later I checked it not the Map. I tried it with simple objects as well. but didn't work. Some how

[code]
myClass is becoming undefined. Not sure why.

[2021-01-19 13:21] Maks-Yaremenko commented on #313
I see! I really love to investigate such issues, looks like a challenge) I believe it would very interesting for you to find out what is going on)

[2021-01-19 13:30] sibiraj-s commented on #313
Yeah. Sadly I just couldn't find enough time to spend on this. I will try this weekend. Meanwhile I would gladly accept any kind of help if possible.

[2021-01-19 14:12] GitHubish commented on #305
No idea if this resource can be useful to you, the Tiptap editor (usable with VueJS) also uses Prosemirror and they have a system where the toolbar appears in a bubble.

https://github.com/ueberdosis/tiptap/blob/3b8ba27cc8871a7b8949fc423a8335edf7f9c3c8/packages/tiptap/src/Components/EditorMenuBubble.js

In any case I am interested in this project. Today I'm using Quill and I'll be taking the argum

[2021-01-19 14:45] Maks-Yaremenko commented on #313
Apologize, but currently, I'm reassigned to another project, so have to spend all my capacity to get into it.

[2021-01-19 15:46] sibiraj-s commented on #305
Thanks @GitHubish . I just know Tiptap, not aware of its complete features. I will look into it.

Also, I will try to add floating menu components and try to fix conflicts with link bubble that already exists.

[2021-01-19 15:50] sibiraj-s commented on #313
No Issues.

[2021-01-19 16:34] fredmabire commented on #305
Hi @sibiraj-s !
Yes I saw that there was a display problem with the link bubble.
This was just a brief example for @MateMahinKhan .
I am also interested in NgxEditor and I did not know TipTap editor either (thanks @GitHubish)  but some elements are interesting such as suggestions and tables.

Maybe I can help if you want.

[2021-01-19 19:51] GitHubish commented on #305
@fredmabire cool if I could make you discover a new library.
For the @Mention feature there may be something inspired by [Tiptap](https://github.com/ueberdosis/tiptap/blob/046babfd3a94222128f08cef653859ab66eaf3cd/packages/tiptap-extensions/src/nodes/Mention.js) too and [quill-mention](https://github.com/afry/quill-mention) that I use and that I had to fork for an internal project and rewritten in

[2021-01-20 01:49] sibiraj-s commented on #305
Thanks @GitHubish.

NgxEditor supports plugins. See https://github.com/joelewis/prosemirror-mentions.

You can do this and no changes is required from the editor side for now. there are many community provided plugins. you can use them. If nothing is available we can add it.

[code]

Create a discussion if you need any help regarding this. Let's continue it there if required. lets keep this discus

[2021-01-23 03:41] sibiraj-s commented on #313
I was able to narrow it down to the

[code]

added by `ng-packager` to package.json during build time. Setting it to true or removing it fixes that.

[2021-01-23 14:53] Maks-Yaremenko commented on #313
thank you for the info!

[2021-01-23 14:55] sibiraj-s commented on #313
Fixed in v7.0.3.

[2021-01-23 14:55] #313 closed

[2021-02-04 16:45] sibiraj-s commented on #305
I have added a bubble with minimal options as floating menu built in in v8.

It is also possible to make the current menu floating around selection with few lines of code. See https://stackblitz.com/edit/ngx-editor-floating-menu. The position calculation is not perfect yet. I will update that later.

[2021-02-04 16:45] #305 closed

[2021-02-05 08:22] GuillaumeGorret commented on #187
Hi,

I have the same problem on :
angular: 9.1.13
ngx-editor: 7.0.5

[2021-02-05 08:28] sibiraj-s commented on #187
@GuillaumeGorret You need to create `new Editor()` for each editor component you create else it will happens. If you have done that and issue still occurs. could you share me a stackblitz reproducing the same? I will look into.

[2021-02-05 08:51] GuillaumeGorret commented on #187
@sibiraj-s Yes I created two different instances.

Stackblitz here : https://stackblitz.com/edit/angular-ivy-qmcud5?file=src/app/app.component.html

[2021-02-05 09:04] sibiraj-s commented on #187
Thanks.

Strange. I will check this out.

[2021-02-05 09:22] sibiraj-s commented on #187
@GuillaumeGorret Found the issue. I will fix it tomorrow. Right now I am so occupied. It is caused by the shared menu service.

[2021-02-05 14:12] sibiraj-s commented on #187
Fixed in v8.

[2021-02-05 14:12] #187 closed

[2021-02-05 15:01] sibiraj-s commented on #305
I have fixed the positioning issue in demo. I will see if I could provide the same as an easy to use built in component with better positioning.

[2021-02-05 17:37] GitHubish commented on #305
@sibiraj-s thank you it's already super cool!

The problem I often see, which would be great to fix is when the editor is in a modal and the parent has an `overflow: hidden | scroll`, floating toolbars are a problem if they are not created at the body level.
example : [demo](https://stackblitz.com/edit/ngx-editor-floating-menu-npqhzk)

Do you think it can be done?

[2021-02-06 02:56] sibiraj-s commented on #305
Yes.

I have forked your example and made few changes to append to body. Checkout [stackblitz](https://stackblitz.com/edit/ngx-editor-floating-menu-append-to-body?file=src%2Fapp%2Fapp.component.ts)

[2021-02-06 15:09] sibiraj-s commented on #305
I just made rendering floating menu simpler in v8.0.0-beta.4

A Simple floating menu (default)

[code]

To make the existing menu float

[code]

You can place the floating menu anywhere in the HTML. just make sure its wrapper has `postion: relative` on it.

Demo: [Default Floating Menu](https://stackblitz.com/edit/ngx-editor-floating-menu?file=src%2Fapp%2Fapp.component.scss)
Demo: [Floating Menu w

[2021-02-07 21:56] vibhorebhatnagar opened #319 "[BUG]: error TS1127: Invalid character in MenuService"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

Received the following error :

**ERROR in ../node_modules/ngx-editor/lib/modules/menu/menu.service.d.ts:6:5 - error TS1127: Invalid character.   #private;**

I was following the instr

[2021-02-08 02:22] sibiraj-s commented on #319
What is the typescript version you have? You might want to check in your compiler options for private fields.

See https://www.typescriptlang.org/docs/handbook/classes.html#ecmascript-private-fields

[2021-02-08 03:01] sibiraj-s commented on #319
I have also removed them in v8.0.0-beta.7. Feel free to continue the discussion if you have more question or need any help.

[2021-02-08 03:01] #319 closed

[2021-02-08 07:25] vibhorebhatnagar commented on #319
@sibiraj-s  v8.0.0-beta.7 worked for me! Thanks!

[2021-02-08 07:30] sibiraj-s commented on #319
Glad that helped.

[2021-02-08 10:55] sibiraj-s commented on #319
@sarrasarra1. Noticed an issue in OpenBase. Just letting you know that this issue is fixed.

[2021-02-08 14:14] GuillaumeGorret opened #320 "[BUG]: In a form array value is not the editor content"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

When using a FormArray, the value of a control is { type: string, content: Array }.

### Version Information

[code]

### Browser

- All browsers

[2021-02-08 14:43] sibiraj-s commented on #320
is not a valid value.

Change it to `{ type: 'doc', content: Array }`

See here for example. https://github.com/sibiraj-s/ngx-editor/blob/master/demo/src/app/doc.ts

Feel free to reopen the issue, if that is not the case. Thanks.

[2021-02-08 14:51] sibiraj-s commented on #320
I think I misunderstood the context here.

This I think you mentioned it to the FormArray Initializer. I mistook it to the json doc value. I will check and update regarding this.

[2021-02-08 15:01] sibiraj-s commented on #320
I think I misunderstood the context here. Let me check and update back.

[2021-02-08 15:01] GuillaumeGorret commented on #320
I think my explanation is not clear enough.

I use a custom component that basically use ngx-editor. Sometimes on focusOut the value I receive is the HTML and sometimes it's an object. I don't know why I have two different behaviour with the same component.

[2021-02-08 15:04] sibiraj-s commented on #320
If input is HTML the output is HTML, If input is json output is json. You can also set outputFormat manually by  setting `outputFormat`  to `doc|html` on the editor component.

[2021-02-08 15:06] sibiraj-s commented on #320
Is this the issue you face?

[2021-02-08 15:15] GuillaumeGorret commented on #320
Input is always HTML.

outputFormat fix the issue. Thanks for the tip :)

[2021-02-08 15:15] #320 closed

[2021-02-08 15:17] sibiraj-s commented on #320
Glad that fixes the issue. Also make sure initializser is not null as well. It might cause the editor to emit object as well.

[2021-02-08 15:19] sibiraj-s commented on #320
Glad that fixes the issue. Also make sure initial value is not null as well, It will cause the editor to emit json. You can set it to empty string.

[2021-02-08 15:40] GuillaumeGorret opened #321 "[Feature]: When we empty the editor, remove <p></p> from content"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [x] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

When we empty the editor the content is &lt;p>&lt;/p> so angular validator required cannot be used

### Version Information

[code]

### Browser

- All browsers

<br>

[2021-02-08 15:43] sibiraj-s commented on #321
You can use the custom validator comes with the editor.

[code]

See here for some other validators https://sibiraj-s.github.io/ngx-editor/#/reactive-forms?id=validators

[2021-02-08 15:48] #321 closed

[2021-02-09 10:44] shockingResident opened #322 "[BUG]: Returns empty p tags string when there is no text just line breaks! required validation not working"
## Description

_A bug: When i press enter and add line breaks it returns empty p tags string like `<p><p></p></p>`. on it angular required validation does not work. please fix it, if there is no text then angular required validation should work. thanks

### Version Information

[code]

### Browser

- [x] Chrome -  87.0.4280.66

<br>

[2021-02-09 10:48] sibiraj-s commented on #322
Use custom validators. Example

[code]

Some other validators https://sibiraj-s.github.io/ngx-editor/#/reactive-forms?id=validators

[2021-02-09 10:52] sibiraj-s commented on #322
Closing this issue. Feel free to continue the discussion If you have any doubts.

[2021-02-09 10:52] #322 closed

[2021-02-09 12:38] shockingResident commented on #322
I have used this validator but still facing issue, can you please tell me the version of ngx-editor please?

[2021-02-09 13:35] sibiraj-s commented on #322
Oh. I get it. I misunderstood earlier. The validator just check if the editor is empty or not, this is same as Angular's required validator.
It doesn't trim the value before validation.

You might wan't to implement your own custom validator for custom .

See here for examples https://github.com/sibiraj-s/ngx-editor/blob/master/src/lib/validators.ts.

Let me know if you need any help with that.

[2021-02-10 10:21] GuillaumeGorret opened #323 "[Feature]: insertHtml command"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [x] Feature request
- [x] Documentation issue or request

## Description

Is it possible to add a command that allow us to insert some content as HTML ?

If not, is it possible to have some documentation to write this new command ?

### Version Information

[2021-02-10 11:15] sibiraj-s commented on #323
Like HTML snippet as code block or could you elaborate a little?

[2021-02-10 12:01] GuillaumeGorret commented on #323
For example I want to add via a button the character Ψ. So I used insertText("&Psi;") but insertText insert directly the text.

[2021-02-10 14:09] sibiraj-s commented on #323
The editor uses ProseMirror underneath for content editing. ProseMirror documents are not HTML. So It is not possible to insert random HTML in it.

You can try inserting unicode in your case may be

[code]

Else you might need to create custom schema and implement nodeviews for specific needs.

[2021-02-11 11:22] shockingResident commented on #322
Okay, I will submit a PR later after handling this issue. Others will also benifit from it.

[2021-02-11 11:43] sibiraj-s commented on #322
Thanks. I am just not sure whether it has to added to required validator, since I added the behaviour to match angular's required validator.

I don't use angular that heavily. how is this handled in other places?

[2021-02-13 02:32] sibiraj-s commented on #323
You can do this to insertHTML.

[code]

but for the above requirement It will always insert the parsed value. `Ψ` will be a text inside the doc.

[2021-02-13 03:13] sibiraj-s commented on #322
I have put some thought over it. I think this is not just about text content. the editor will have custom views, images etc. Considering those into account, I suppose deciding when the editor is TRULY empty is purely subjective .

Exposing bare default would be the best way to go and for custom needs they can implement their own solution which is also supported by angular.

and for this. I am open

[2021-02-17 05:12] sibiraj-s commented on #323
Added in v8.

[2021-02-17 05:12] #323 closed

[2021-02-19 08:46] lyamone opened #324 "[Feature] On Focus, On Blur, enable and disable features are missing in v8"
# I'm submitting a

- [x] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

In the latest version (v8.0.0) the Editor object is not exposing the focus, blur, disable and enable methods anymore.
I know this is an intended beheavor but I would like to know if it

[2021-02-19 12:19] sibiraj-s commented on #324
I never intended to add them. v8 is mostly a cleanup and hence those got removed along with few other things.

You will need to use the component parameters.

See here.

https://github.com/sibiraj-s/ngx-editor/blob/40aa5484d94a391754d4dc7252c8145a871f32c8/src/lib/editor.component.ts#L38-L41

Also, the disable and the enable methods to programmatically make the editor editable for the user.

You ma

[2021-02-19 12:20] sibiraj-s commented on #324
May be I can add this to the migration guide 🤔

[2021-02-19 12:47] lyamone commented on #324
Hi @sibiraj-s ,

Thanks for the quick response.
I tried the props that you mentioned and they are working. Nice!

I think It would be useful for others to just clarify in the migration guide that we can still use the focus and blur methods using props.

BTW, I really like the library. Great work! Thanks for the help!

[2021-02-19 12:47] #324 closed

[2021-02-19 14:19] sibiraj-s commented on #324
Thanks @lyamone. Glad I was helpful in a way. Also, Consider a star for this lib 😄

And, I have updated the migration guide as well.

[2021-02-19 16:05] lyamone commented on #324
Of course I did it!

[2021-03-01 11:41] wkulinski opened #325 "[BUG] Disappearing carriage/cursor"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

Hello,

I've noticed that when editor is empty (no content) and placeholder is visible the carriage/cursor becomes invisible after one time "blink". This might be very misleading for u

[2021-03-01 11:50] wkulinski commented on #305
I don't know if its bug or feature but this info might be helpful for someone:
floating menu is not working when Ivy is disabled in tsconfig:

`
"angularCompilerOptions": {
    "enableIvy": false,
  }
`

You can try it here (Ivy is disabled in this example. To fix menu just enable it):
https://stackblitz.com/edit/ngx-editor-floating-menu-o7e8d1?file=tsconfig.json

[2021-03-01 17:43] wkulinski commented on #325
Also pleas have a look on this threat form prosemirror discuss. You might find it helpful:
https://discuss.prosemirror.net/t/placeholders-caret-vanishes-in-firefox/3541

[2021-03-04 02:37] sibiraj-s commented on #325
I will fix it this weekend. Got little occupied here.

Thanks for the link. I have already though about css placeholders, since the existing solution is working fine, didn't bother much. I will look into that now.

[2021-03-04 02:41] sibiraj-s commented on #305
thanks @wkulinski. Angular 9 comes with ivy enabled by default. It didn't occur to me to test in non ivy mode at the time of development. I will check this.

[2021-03-06 11:01] sibiraj-s commented on #325
Fixed in v8.0.1

[2021-03-06 11:01] #325 closed

[2021-03-10 19:13] steffensbola opened #326 "[Feature]: Remove HTML and formatting from text on paste"
# I'm submitting a

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [x] Enhancement
- [ ] Feature request
- [ ] Documentation issue or request

## Description

It would be nice to have an option to strip HTML when pasting. Maybe we can do it using  Schemas, but I was unable to get it to work. For instance, I would like to only keep `<strong>,

[2021-03-11 04:44] sibiraj-s commented on #326
does your schema has only these elements or you need to restrict to the given elements only while pasting?.

[2021-03-11 12:24] steffensbola commented on #326
Currently, my toolbar has only these basic formatting options. Both alternatives would work for me.
However, when the user pastes something that he copied from somewhere else, the content can bring a lot of garbage which I am unable to control.

[2021-03-12 07:23] sibiraj-s commented on #326
You can provide a schema with required marks are nodes. In your case it would be

[code]

You can also write a plugin

[code]

Let me know if that helps.

[2021-03-12 14:00] steffensbola commented on #326
Yup!
That does the trick. Perhaps if you could include the plugin example in the docs that would help even more people.

Thank's for the support.

[2021-03-12 14:43] sibiraj-s commented on #326
Glad that worked. Closing the issue. Feel free to continue the conversation if needed.

I will try to do it this weekend. Busy with work. PR's are welcome meanwhile 🙏

[2021-03-12 14:43] #326 closed

[2021-03-12 15:07] GitHubish opened #327 "[BUG]: The floating menu is hidden in a container with an overflow:hidden"
There is a problem in the positioning with an `overflow:hidden` container when you are on top. I think the case is not handled in `calculateBubblePosition()` ?

What if the floating menu was created at the body level like the Mention plugin or [ngSelect](https://github.com/ng-select/ng-select#api) with their appendTo solution? These are only ideas...

- [x] Bug report

[Example](https://stackblitz

[2021-03-15 08:02] sibiraj-s commented on #327
that is the expected behaviour when the parent has overflow hidden.

FloatingMenu is exported as component. It can be placed anywhere in the component tree as needed. Also appending the menu to body can be done with few lines of code. I have also made a [stackblitz](https://stackblitz.com/edit/ngx-editor-floating-menu-append-to-body) example for the same. Let me know if anything else is required.

[2021-03-15 08:02] #327 closed

[2021-03-17 15:47] GitHubish opened #329 "[BUG]: The line break by pressing shift+enter should work"
# I'm submitting a

- [x] Bug report

## Description

Unlike ProseMirror I see that the shortcut `shift+enter` does not work, in the sense that it does not allow to make a line break (enter allows to create a new paragraph).

Thank you for your very good editor

[2021-03-17 16:36] sibiraj-s commented on #329
Fixed in v8.1.0

[2021-03-17 16:36] #329 closed

[2021-03-26 07:09] kadiocat opened #330 "[BUG]: Duplicate placeholder for many empty paragraphs"
# I'm submitting a
- [x] Bug report

## Description
Showing placeholder for every empty paragraph when content editor is empty.
![image](https://user-images.githubusercontent.com/40465491/112594805-86fdb580-8e1a-11eb-9e67-5a6b5ad89533.png)
Please add doc.childCount check.
![image](https://user-images.githubusercontent.com/40465491/112595181-199e5480-8e1b-11eb-889a-d3b1e804690e.png)

### Version In

[2021-03-26 08:55] sibiraj-s commented on #330
Will fix. Regression from 8.0.1 it seems

[2021-03-26 09:41] sibiraj-s commented on #330
Fixed in v8.1.1. Thanks @kadiocat

[2021-03-26 09:41] #330 closed

[2021-03-29 19:22] Padmmaja opened #333 "Image upload"
Using electron, i sm collecting uploaded images, displaying  these images in ngx editor.

how to collect the html content info of these images in ts file?
Ex i need image name along with img src tag.

also i am trying to set config, but getting error as config is not a property, please kindly help

[2021-03-30 01:39] sibiraj-s commented on #333
Closing in favour of #332

[2021-03-30 01:39] #333 closed

[2021-03-30 14:07] guidofs opened #334 "Error in npmjs documentation"
# I'm submitting a
- [X] Documentation issue or request

## Description

Error in https://www.npmjs.com/package/ngx-editor documentation.

[code]

Please change
    [placeholder]=" 'Type here..' "  or     placeholder="Type here..."